
@{
    ViewBag.Title = "BaoGia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="info-discribe-baogia-area-view">
    <table>
        <thead>
            <tr>
                <td class="first-col">STT</td>
                <td>Tên sản phẩm</td>
                <td>Đơn vị tính</td>
                <td>Giá bán</td>
                <td>Ghi chú</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="first-col">1</td>
                <td>
                    <p>Cá tầm tươi sống</p>
                </td>
                <td class="tbl-donvitinh">
                    <p>Kg</p>
                </td>
                <td><a>Liên hệ</a></td>
                <td>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td class="first-col">2</td>
                <td>
                    <p>Cá tầm ngất</p>
                </td>
                <td class="tbl-donvitinh">
                    <p>Kg</p>
                </td>
                <td><a>Liên hệ</a></td>
                <td>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td class="first-col">3</td>
                <td>
                    <p>Cá tầm đông lạnh</p>
                </td>
                <td class="tbl-donvitinh">
                    <p>Kg</p>
                </td>
                <td><a>Liên hệ</a></td>
                <td>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td class="first-col">4</td>
                <td>
                    <p>Cá tầm phi lê</p>
                </td>
                <td class="tbl-donvitinh">
                    <p>Kg</p>
                </td>
                <td><a>Liên hệ</a></td>
                <td>
                    <p></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
