
@{
    ViewBag.Title = "CachCheBien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="cach-che-bien-ca-tam-container-area">
    <h2>Một số phương pháp chế biến cá tầm đơn giảm, hiệu quả, giúp bạn tỏa sáng bên gia đình</h2>

    <p>
        Là loại thực phẩm thơm ngon với giá trị dinh dưỡng cao lại khá dễ dàng trong cách chế biến nên Cá Tầm được nhiều nhà hàng và khách sạn yêu thích đặt lên vị trí đầu tiên trong danh sách các món được phục vụ của mình hay thậm chí những bữa cơm ấm cúng gia đình và người thân.
        Cá tầm ngày nay nhờ việc vận chuyển nhanh chóng với chi phí hợp lý đã xuất khá phổ biến giúp các bà nội trợ, những nhà hàng, quán ăn dễ dàng tiếp cận hơn với loại thực phẩm tươi sống và giàu dưỡng chất dường như chỉ dành cho quý tộc này.
    </p>
    <div class="cach-che-bien-ca-tam-img-area">
        <img src="~/images/cach_che_bien_ca_tam.jpg" />
        <p>Hình ảnh cá tầm đã được sơ chế và phi lê ra đĩa</p>
    </div>
    <h3>Sơ chế cá tầm:</h3>
    <p>
        - Trước tiên bạn cần sơ chế qua bên ngoài của con cá tầm. Cá tầm là loài cá không có xương như nhưng loài cá khác và có nhớt bao phủ quanh mình nên việc sơ chế cũng có phần khác hơn so với các loài cá khác.
        Để làm sạch lớp nhớ này, bạn chỉ cần nầu một nồi nước sổi sau đó để cá vào chậu hay bồn rửa rồi đổ nước sổi lên, hoặc có thể thả nguyên con vào nồi nước nếu nồi đun của bạn có kích thước đủ lớn.
        Sau đó lấy ra lấy rẻ lau sạch lớp nhớt này, vậy là bạn đã có một con cá sẵn sàng cho việc chế biến. ^^
    </p>
    <h3>1.Lẩu cá tầm</h3>
    <h4>Nguyên liệu:</h4>
    <p>
        - Khoảng 1kg cá tầm tươi.<br />
        - 3 đến 4 trái cà chua.<br />
        - 200g đến 300g măng.<br />
        - 1 củ cả rốt.<br />
        - 1/2 quả dứa.<br />
        - Hành tây, hẹ, rau cần, thì là, nước mắm, tiêu, đường, bột ngọt...
    </p>
    <h4>Cách chế biến</h4>
    <p>
        Cá tầm sau khi mua về bạn rửa với nước muối loãng để loại bỏ mùi tanh rồi sau đó xả lại bằng nước lạnh vài lần cho thật sạch, để ráo nước, cắt thành những lát mỏng.
        Tiếp theo, bạn ướp cá với 1 thìa cà phê tiêu xay, 1 thìa cà phê muối, 1 thìa cà phê bột ngọt, xếp cá ra dĩa rồi cho cá vào ngăn mát tủ lạnh giúp cá tươi ngon và thấm đều gia vị hơn.
    </p>
    <p>
        Cần tây cắt khúc dài, rửa sạch, sắp ra dĩa. Tỏi vỏ, băm nhỏ. Gừng non gọt vỏ, thái sợi dài.
    </p>
    <p>
        Bắc nồi lên bếp, cho dầu ăn vào phi thơm tỏi. Sau đó cho cà chua thơm, cà rốt, hành tây, gừng sợi vào xào trong 5 phút.
        Bạn nêm vào nồi 2 thìa cà phê muối, 2 thìa cà phê đường, 1 thìa cà phê bột ngọt rồi thêm vào 1.5 lít nước, đun sôi trên mức lửa liu riu cho đến khi nước hơi cạn lại thì dọn lên thưởng thức.
    </p>
    <p>Thả cá tầm vào nồi lẩu, lưu ý: thả những phần nhiều xương bào trước vì những phần này sẽ lâu chín ta có thể để lại ăn cuối cùng để nước xương tiết ra sẽ giúp nồi nầu của bạn ngon ngọt hơn.</p>
    <div class="cach-che-bien-ca-tam-img-area">
        <img src="~/images/lau-ca-tam.jpg" />
        <p>Một nồi lẩu cá tầm mà người viết đã làm sẵn chuẩn bị cho bữa nhậu sau khi viết xong bài này</p>
    </div>
    <h3>2. Cá tầm om chuối đậu</h3>
    <h4>Nguyên liệu:</h4>
    <p>
        - Khoảng 0.5kg cá tầm tươi.<br />
        - 200g thịt lợn ba chỉ.<br />
        - 300g đến 500g chuối xanh.<br />
        - 2 đến 3 bìa đậu phụ mang về cắt nhỏ rán vàng.<br />
        - Hành hóa, lá lôt, tía tô, mắm tôm, nghệ, mẻ, tiêu, đường, bột ngọt...
    </p>
    <div class="cach-che-bien-ca-tam-img-area">
        <img src="~/images/ca-tam-om-chuoi-dau.jpg" />
        <p>Món cá tầm om chuối đậu</p>
    </div>
    <h4>Cách chế biến</h4>
    <p>Cá tầm bóp muối với giấm rồi rửa sạch, cắt cỡ quân cờ (2x2cm). Sau đó, bạn ướp cá cùng tiêu, muối, mẻ, nghệ, mắm tôm để ngấm trong 5 phút.</p>
    <p>Chuối xanh gọt lớp vỏ ngoài, cắt nhỏ ngâm vào nước có pha một chút giấm.</p>
    <p>Bắc nồi nước lên bếp (khoảng 2 lít), cho vào nước 5g bột nghệ, 2g muối và chuối cắt nhỏ đun trong 10 phút rồi vớt ra để ráo.</p>
    <p>Bắc nồi khác lên bếp, cho vào một ít dầu ăn, phi thơm tỏi rồi cho chuối vào xào đến khi se lại thì thêm 1.5 lít nước vào om cho đến khi mềm.</p>
    <p>Bạn tiếp tục bắc một nồi khác lên bếp, cho vào 1 ít dầu ăn, phi thơm tỏi, cho thịt ba chỉ cắt miếng vừa ăn vài áp chảo trong 5 phút rồi cho cá tầm vào xào cùng trong 5 phút nữa.</p>
    <p>Khi nồi chuối đã chín mềm, bạn cho đậu phụ cắt quân cờ cùng với thịt ba chỉ và cá tầm đã xào vào om cùng trong 10 phút nữa, nêm nếm lại gia vị cho vừa ăn. Cuối cùng, bạn cho hành hoa, tía tô, lá lốt cắt nhỏ rắc lên trên rồi đun thêm 2 phút nữa là món ăn đã hoàn thành rồi đấy!</p>
</div>