
@{
    ViewBag.Title = "CachMuaHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="page-title category-title">
                    <h1 class="title-head"><a href="#">Giá bán - Cách mua hàng</a></h1>
                </div>
                <div class="content-page">
                    <p><span style="font-family:arial,helvetica,sans-serif;"><b><u>CÁCH 1</u></b>:&nbsp; </span>MUA &nbsp;CÁ TẦM &nbsp;TẠI&nbsp;KHO HÀNG SỐ 1 GÒ VẤP<strong style="margin: 0px; padding: 0px; font-family: Tahoma, Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);"><span style="margin: 0px; padding: 0px; line-height: 1.6em;">:</span><span style="margin: 0px; padding: 0px; color: rgb(0, 0, 255); line-height: 1.6em;"> 35 Đường T5, Phường Tây Thạnh, Quận Tân Phú, Thành Phố Hồ Chí Minh</span></strong><o:p></o:p></p>
                    <p><span style="font-family:arial,helvetica,sans-serif;"><b><u>CÁCH 2</u><i><u>: </u></i></b>&nbsp;GIAO HÀNG CÁ TẦM &nbsp;TẬN NƠI nội thành TPHCM hoặc ship đi tỉnh lẻ, vui lòng liên hệ đặt hàng&nbsp;<span style="color:#ff0000;"><strong>Hotline 0939.555.386 (Mr. Đạt)</strong></span>&nbsp;để có thêm thông tin và giá tốt.</span></p>

                    <p><span style="font-family:arial,helvetica,sans-serif;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; **********************************************************************************************</span><o:p></o:p></p>
                    <p><a href="https://www.facebook.com/haisancatam/"><strong>Cá Tầm Đà Lạt</strong></a> được nuôi ở hồ tại Đà Lạt được phân phối về TPHCM cung cấp cho khách hàng. <a href="http://phanphoicatamdalat.com.vn/Home/CachMuaHang">Cá Tầm</a> thịt ngọt thơm đã lấy được sự hài lòng của rất nhiều khách hàng. Công ty nay đưa ra bảng giá để khách hàng có thể yên tâm đặt hàng với giá tốt nhất.</p>
                    <table border="1" cellpadding="1" cellspacing="1" height="186" width="712">
                        <tbody>
                            <tr>
                                <td style="text-align: center;"><strong>Cách thức mua hàng</strong></td>
                                <td style="text-align: center;"><strong>Số lượng &lt;5kg</strong></td>
                                <td style="text-align: center;"><strong>Số lượng &gt;5kg</strong></td>
                                <td style="text-align: center;"><strong>Số lượng &gt;10kg</strong></td>
                                <td style="text-align: center;"><strong>Ghi chú</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><em>Giao hàng tận nơi &lt;7km</em></td>
                                <td style="text-align: center;"><em>245.000đ/kg</em></td>
                                <td style="text-align: center;"><em>230.000đ/kg</em></td>
                                <td style="text-align: center;"><em>Liên hệ có giá tốt</em></td>
                                <td>(Xin vui lòng gọi)</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><em>Đến mua tại kho cá</em></td>
                                <td style="text-align: center;"><em>230.000đ/kg</em></td>
                                <td style="text-align: center;"><em>220.000đ/kg</em></td>
                                <td style="text-align: center;"><em>Liên hệ có giá tốt</em></td>
                                <td>(Xin vui lòng gọi)</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><em>Giao hàng tận nơi </em>&gt;7km</td>
                                <td style="text-align: center;"><em>250.000đ/kg</em></td>
                                <td style="text-align: center;"><em>240.000đ/kg</em></td>
                                <td style="text-align: center;"><em>Liên hệ có giá tốt</em></td>
                                <td>(Xin vui lòng gọi)</td>
                            </tr>
                        </tbody>
                    </table>
                    <p><strong>Thông tin liên hệ</strong>:</p>
                    <div style="text-align: justify;">Chi nhánh&nbsp;Tổng Công Ty Thủy Sản Việt Nam - Công ty cổ phần </div>
                    <div style="text-align: justify;">VP đại diện: 35 Đường T5, Phường Tây Thạnh, Quận Tân Phú, Thành Phố Hồ Chí Minh</div>
                    <div style="text-align: justify;">Website: <a onclick="goTo('Home/Index')">www.phanphoicatamdalat.com.vn </a></div>
                    <div style="text-align: justify;">Email: dat1419@gmail.com</div>
                    <div style="text-align: justify;">Hotline: 0939.555.386 (Mr. Đạt)</div>
                </div>
            </div>


