
@{
    ViewBag.Title = "TrangTrai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="hinh-anh-trang-trai-ca-tam-container">
    <h2>Một số hình ảnh về trang trại nuôi cá tầm của chung tôi ở đà lạt</h2>

    <div class="cach-che-bien-ca-tam-img-area">
        <img src="~/images/trang_trai_1.jpg" />
        <p>Bề nuôi cá tầm</p>
    </div>
    <div class="cach-che-bien-ca-tam-img-area">
        <img src="~/images/trang_trai_2jpg.jpg" />
        <p>Đánh bắt cá tầm</p>
    </div>
    <div class="cach-che-bien-ca-tam-img-area">
        <img src="~/images/trang_trai_3.jpg" />
        <p>Trang trại nuôi trồng cá tầm</p>
    </div>
    <div class="cach-che-bien-ca-tam-img-area">
        <img src="~/images/trang_trai_4.jpg" />
        <p>Cảnh hồ nuôi cá</p>
    </div>
    <div class="cach-che-bien-ca-tam-img-area">
        <img src="~/images/trang_trai_5.jpg" />
        <p>Cá thành phầm được gom lại chờ thương lái đến mua</p>
    </div>
    <div class="cach-che-bien-ca-tam-img-area">
        <img src="~/images/trang_trai_6.jpg" />
        <p>Kiểm tra sức khỏe cá tầm</p>
    </div>
    <div class="cach-che-bien-ca-tam-img-area">
        <img src="~/images/trang_trai_7.jpg" />
        <p>Một bề ươm cá tầm trong nhà</p>
    </div>

</div>
