<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>
        PHÂN PHỐI CÁ TẦM ĐÀ LẠT
    </title>

    <meta name="description" content="cá tầm Mr. Đạt chuyên cung cấp cá tầm tươi sống LH:  0939.555.386 (Ms. Đạt)">

    <meta name="keywords" content="cá tầm, ca tam, cá tầm Việt Nam, cá tầm Đà Lạt, ca tam Da Lat, phân phối cá tầm, phan phoi ca tam, ca tam Viet Nam, thủy hải sản, gỏi cá tầm, cá tầm nướng,ca tam mua o dau,mua cá tầm ở đâu,cá tầm tươi sống, ca tam tuoi song" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="canonical" onclick="goTo('Home/Index')" />
    <meta name='revisit-after' content='1 days' />
    <meta name="robots" content="noodp,index,follow" />
    <meta http-equiv="content-language" content="vi" />

    <!-- ================= Favicon ================== -->
    <link rel="icon" href="../bizweb.dktcdn.net/100/114/853/themes/145070/assets/logo_catam.bmp?1538383623685" type="image/x-icon" />

    <!-- Jquery Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        (function () {
            function asyncLoad() {
                var urls = [];
                for (var i = 0; i < urls.length; i++) {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = urls[i];
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }
            };
            window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
        })();
    </script>


    <script type='text/javascript'>
        (function () {
            var log = document.createElement('script'); log.type = 'text/javascript';
            log.async = true;
            log.src = '../stats.bizweb.vn/delivery/114853e034.js?lang=vi';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(log, s);
        })();
    </script>

    <script>
        window.BizwebAnalytics = window.BizwebAnalytics || {};
        window.BizwebAnalytics.meta = window.BizwebAnalytics.meta || {};
        window.BizwebAnalytics.meta.currency = 'VND';

        var meta = {};

        for (var attr in meta) {
            window.BizwebAnalytics.meta[attr] = meta[attr];
        }
    </script>

    <!-- Product meta ================================================== -->
    <script src="~/Scripts/script.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />

    <meta property="og:url" content="http://phanphoicatamdalat.com.vn/">
    <meta property="og:site_name" content="phanphoicatamdalat">



</head>
<body>


    <header id="header" class="wrap-header">
        <section class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-3">
                        <div class="logo text-lg-left">
                            <a onclick="goTo('Home/Index')"><img style="width: 80px;" src="../bizweb.dktcdn.net/100/114/853/themes/145070/assets/logo_catam.bmp?1538383623685" alt="phanphoicatamdalat" title="phanphoicatamdalat"></a>
                        </div>

                        <ul class="content-header pull-xs-right hidden-lg-up">

                            <li>
                            </li>
                            <li>
                            </li>

                        </ul>

                    </div>
                    <div class="col-xs-12 col-sm-7 col-lg-9 hidden-md-down">
                        <!-- Giỏ hàng -->
                        <!--<div class="mini-cart pull-xs-right hidden-md-down">
                            <a href="cart.html" class="icon-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="cartCount">0</span> Giỏ hàng</a>
                            <div>
                                <div style="" class="top-cart-content arrow_box">-->
                                    <!-- <div class="block-subtitle">Sản phẩm đã cho vào giỏ hàng</div> -->
                                    <!--<ul id="cart-sidebar" class="mini-products-list">
                                    </ul>
                                </div>
                            </div>
                        </div>-->


                        <ul class="content-header pull-lg-right hidden-xs-down">
                            <li class="hidden-md-down no-hover">
                                <div class="align-items"><img src="../bizweb.dktcdn.net/thumb/pico/100/114/853/themes/145070/assets/icon-phone4972.png?1538383623685" alt="i-phone"> <a href="#">0939.555.386</a></div>
                            </li>
                            <li class="hidden-md-down no-hover">
                                <div class="align-items">
                                    <div class="form-inline form-search-top">
                                        <button class="btn btn-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        <input type="text" class="form-control search-field" value="" name="query" id="searchhh" placeholder="Tìm kiếm">
                                    </div>
                                </div>
                            </li>


                            <li class="hidden-md-down">
                            </li>
                            <li class="hidden-md-down">
                            </li>



                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="wrap-menu">
            <div class="container">
                <!-- MENU -->
                <div class="main-menu">
                    <div class="wrap-nav-toggler">
                        <button class="navbar-toggler pull-xs-left hidden-lg-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">&#9776;</button>
                        <!-- Top Cart -->
                        <div class="mini-cart pull-xs-right hidden-lg-up">
                            <a href="cart.html"><i class="fa fa-shopping-cart"></i><span class="cartCount">0</span></a>
                            <div>
                                <div style="" class="top-cart-content arrow_box">
                                    <!-- <div class="block-subtitle">Sản phẩm đã cho vào giỏ hàng</div> -->
                                    <ul id="cart-sidebar" class="mini-products-list">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Form search -->
                        <form action="http://phanphoicatamdalat.com.vn/search" method="get" role="search" class="form-inline search-box pull-xs-right hidden-lg-up">
                            <button class="btn btn-search btn-s1" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <button class="btn btn-search btn-s2" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <input class="form-control search-field" type="text" value="" name="query" id="search" placeholder="Tìm kiếm">
                        </form>
                    </div>
                    <!-- End Nav Toggler -->

                    <nav class="nav-main collapse navbar-toggleable-md" id="exCollapsingNavbar2">
                        <ul class="nav navbar-nav navbar-nav-style">


                            <li class="nav-item active">
                                <a onclick="goTo('Home/index')" class="nav-link">Trang chủ</a>
                                <button type="button" class="fa fa-caret-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <ul class="dropdown-menu">
                                </ul>
                            </li>



                            <li class="nav-item "><a class="nav-link" onclick="goTo('Home/GioiThieu')">Giới thiệu</a></li>



                            <li class="nav-item ">
                                <a onclick="goTo('SanPham')" class="nav-link">Sản phẩm</a>
                            </li>



                            <li class="nav-item "><a class="nav-link" onclick="goTo('SanPham/CachCheBien1')">Tin tức</a></li>



                            <li class="nav-item "><a class="nav-link" onclick="goTo('Home/CachMuaHang')">Cách thức mua hàng</a></li>




                            <li class="nav-item">
                                <a class="nav-link" onclick="goTo('Home/HinhAnh')">Hình ảnh</a>
                            </li>


                        </ul>
                    </nav>
                </div><!-- /MENU -->
            </div>
        </div><!-- /wrap MENU -->
    </header><!-- /header -->




    <h1 class="hidden-xs-up">phanphoicatamdalat</h1>
    <section id="custom1" class="banner-slider owl-carousel owl-theme">
        <div class="item"><a href="#" title="Ảnh banner số 1"><div class="slideshow" style="background-image: url('../bizweb.dktcdn.net/100/114/853/themes/145070/assets/phan_phoi_ca_tam_da_lat.com.vn1.jpg?1538383623685');"></div></a></div>
        <div class="item"><a href="#" title="Ảnh banner số 2"><div class="slideshow" style="background-image: url('../bizweb.dktcdn.net/100/114/853/themes/145070/assets/phan_phoi_ca_tam_da_lat.com.vn2.jpg?1538383623685');"></div></a></div>
        <div class="item"><a href="#" title="Ảnh banner số 3"><div class="slideshow" style="background-image: url('../bizweb.dktcdn.net/100/114/853/themes/145070/assets/banner1a4972.jpg?1538383623685');"></div></a></div>
    </section>





    <div class="container">
        <div class="row">




            @RenderBody()


            <div class="col-xs-12 col-lg-3 col-lg-pull-9">

                <aside class="box-aside hidden-md-down">
                    <h2 class="title-box">
                        Danh mục sản phẩm
                    </h2>
                    <nav class="nav-list-dm">
                        <ul class="nav navbar-pills">


                            <li class="nav-item "><a class="nav-link" onclick="goTo('SanPham/CaTamTuoiSong')">Cá tầm tươi sống</a></li>



                            <li class="nav-item ">
                                <a href="ca-tam-dong-lanh.html" class="nav-link">Cá tầm đông lạnh</a>
                                <i class="fa fa-angle-right" data-toggle="dropdown"></i>
                                <ul class="dropdown-menu">
                                </ul>
                            </li>



                        </ul>
                    </nav>
                </aside>


                <aside class="box-aside hidden-md-down">
                    <h2 class="title-box">
                        <a href="ca-me.html">Sản phẩm bán chạy</a>
                    </h2>
                    <div class="list-wrap row">










                        <div class="product-item2 col-xs-12">
                            <div class="product-item-thumbnail">
                                <a onclick="goTo('SanPham/CaTamTuoiSong')"><img src="../bizweb.dktcdn.net/thumb/compact/100/114/853/products/ca-tam-nha-trang-157d1.jpg?v=1479112685450" alt="Cá Tầm Đông Lạnh"></a>
                            </div>
                            <h3 class="product-item-name"><a onclick="goTo('SanPham/CaTamTuoiSong')">Cá Tầm Tươi Sống</a></h3>

                            <div><span class="product-item-price">Liên hệ</span></div>

                            <a onclick="goTo('SanPham/CaTamTuoiSong')" class="btn btn-style">MUA HÀNG</a>
                        </div>










                        <div class="product-item2 col-xs-12">
                            <div class="product-item-thumbnail">
                                <a onclick="goTo('SanPham/LauCaTam')"><img src="../bizweb.dktcdn.net/thumb/compact/100/114/853/products/lam-lau-ca-tam-tuyet-ngon-va-bo-duong-hinh-anh-207d3.jpg?v=1478061012893" alt="Lẩu Cá Tầm"></a>
                            </div>
                            <h3 class="product-item-name"><a onclick="goTo('SanPham/LauCaTam')">Lẩu Cá Tầm</a></h3>

                            <div><span class="product-item-price">Liên hệ</span></div>

                            <a onclick="goTo('SanPham/LauCaTam')" class="btn btn-style">MUA HÀNG</a>
                        </div>










                        <div class="product-item2 col-xs-12">
                            <div class="product-item-thumbnail">
                                <a onclick="goTo('SanPham/CaTamHapGung')"><img src="../bizweb.dktcdn.net/thumb/compact/100/114/853/products/catamhapgungae13.jpg?v=1478059090713" alt="Cá tầm hấp gừng"></a>
                            </div>
                            <h3 class="product-item-name"><a onclick="goTo('SanPham/CaTamHapGung')">Cá tầm hấp gừng</a></h3>

                            <div><span class="product-item-price">Liên hệ</span></div>

                            <a onclick="goTo('SanPham/CaTamHapGung')" class="btn btn-style">MUA HÀNG</a>
                        </div>

                    </div>
                    <a class="btn-link-style" onclick="goTo('SanPham/XemThemSanPhamCaTam')">Xem thêm sản phẩm</a>
                </aside>



                <aside class="box-aside hidden-md-down">
                    <div class="feature-l">
                        <ul class="list-group">
                            <li class="media">
                                <div class="media-left media-middle">
                                    <img class="media-object" src="../bizweb.dktcdn.net/thumb/thumb/100/114/853/themes/145070/assets/feature14972.png?1538383623685" alt="feature1">
                                </div>
                                <div class="media-body">
                                    <span class="feature-title">Hỗ trợ trực tuyến</span>
                                    <p>0939.555.386  </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </aside>



                <aside class="box-aside hidden-md-down">
                    <div class="banner-pc">
                        <a href="#">
                            <img src="../bizweb.dktcdn.net/100/114/853/themes/145070/assets/banner-qc4972.jpg?1538383623685" alt="">
                            <div class="name-qc">
                                <span>

                                    <img src="../bizweb.dktcdn.net/thumb/medium/100/114/853/themes/145070/assets/text-banner4972.png?1538383623685" alt="">


                                </span>
                            </div>
                        </a>
                    </div>
                </aside>




                <aside class="box-aside">
                    <div class="head-box">
                        <h2 class="title-box">
                            <a href="#">Tin tức</a>
                        </h2>
                    </div>
                    <div class="list-blogs owl-carousel owl-theme">

                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/CaTamChienSaThomLung')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/201631891573850f0.jpg?v=1470879631417" alt="Cá tầm chiên sả thơm lừng"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamChienSaThomLung')">Cá tầm chiên sả thơm lừng</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">  (Emdep.vn) - Cá tầm thịt béo ăn rất mềm ngọt và gần như là không có xương nên rất được nhiều người thích. Các bạn có thể mua...</p>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/CaTamXotXiDau')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/201634165517593c52.jpg?v=1470879628887" alt="Cá Tầm xốt xì dầu"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamXotXiDau')">Cá Tầm xốt xì dầu</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">
                                Vị béo ngậy của thịt cá tầm được hấp với gừng hành và sốt xì dầu có hương vị thơm ngon rất hấp dẫn.

                                Nguyên...
                            </p>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/CaTamXotChanhDay')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/20162216353724103b9.jpg?v=1470879627997" alt="Cá tầm sốt chanh dây"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamXotChanhDay')">Cá tầm sốt chanh dây</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">    Đây là một món ăn mới lạ và rất được yêu thích.      Khác với món nướng có thể làm cho thịt...</p>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/LauChaoCaTam')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/20161261634571437fe9.jpg?v=1470879627287" alt="MÓN ĂN NGÀY TẾT LẨU CHÁO CÁ TẦM CỦA NHÀ HÀNG THÁC BẠC SAPA"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/LauChaoCaTam')">MÓN ĂN NGÀY TẾT LẨU CHÁO CÁ TẦM CỦA NHÀ HÀNG THÁC BẠC SAPA</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">  Cá Tầm thuộc loại cá cổ nhất trên thế giới với lịch sử tồn tại trên 200 triệu năm nổi tiếng với món C aviar đứng đầu thực...</p>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/CaTamNuongLaDuaXotNghe')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/20161111620457558c5e.jpg?v=1470879624660" alt="Cá Tầm nướng lá dứa xốt nghệ"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamNuongLaDuaXotNghe')">Cá Tầm nướng lá dứa xốt nghệ</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">   Bí quyết của món ngon này nằm ở chỗ tận dụng tối đa mọi thành phần của cá, đặc biệt là vị ngọt của xương cá để...</p>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/CaTamCuonRiengNuong')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/20161585739711dbf1.jpg?v=1470879623073" alt="Cá Tầm cuốn riềng nướng"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamCuonRiengNuong')">Cá Tầm cuốn riềng nướng</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">  Món Cá Tầm cuộn riềng nướng rất ngon,giàu chất dinh dưỡng.Món ăn ngon,dể làm vì giờ đây bạn đã có công thức chuẩn,nên việc chế biến rất nhanh.Nhanh...</p>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/CaTamCuonRongBien')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/2015121416451981332f3.jpg?v=1470879619660" alt="Cá Tầm cuộn rong biển"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamCuonRongBien')">Cá Tầm cuộn rong biển</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">
                                Nguyên liệu:

                                + 200g chả cá ba sa

                                + 3 lá rong biển

                                + 100g thanh cua Nhật

                                + Ngò rí,...
                            </p>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/LauCaTamChuaCay')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/201512178578485591d.jpg?v=1470879622300" alt="Lầu Cá Tầm chua cay"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/LauCaTamChuaCay')">Lầu Cá Tầm chua cay</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">  Lẫu cá Tầm chua cay là món ăn rất ngon và bổ dưỡng.Thịt cá Tầm săn chắc,tươi ngon,giàu chất dinh dưỡng,đặc biệt xương cá Tầm khi ăn giòn...</p>
                        </div>


                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/CaTamNuongXien')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/2015121114151104fff5.jpg?v=1470879617407" alt="Cá Tầm nướng xiên"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamNuongXien')">Cá Tầm nướng xiên</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">cá tầm nướng xiên là một món ăn quen thuộc và nhiều giá trị dinh dưỡng ...</p>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/CaTamDutLo')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/20151211141040947e5b6.jpg?v=1470879614830" alt="Cá Tầm đút lò với Lagim"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamDutLo')">Cá Tầm đút lò với Lagim</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">


                                Nguyên liệu  :

                                - 700gr cá Tầm

                                - 100gr hành tây

                                - 300gr khoai tây

                                - 300gr...
                            </p>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/LauCaTam')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/20151211145299092138.jpg?v=1470879613050" alt="Lầu Cá Tầm"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/LauCaTam')">Lầu Cá Tầm</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">
                                Thành phần:




                                - 700 gram Cá Tầm

                                - 200 gram Hành lá

                                - 50 gram ớt trái đỏ

                                - 100...
                            </p>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/ChaGioHaiSanCaTam')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/201512111401177f76.jpg?v=1470879612040" alt="CHẢ GIÒ HẢI SẢN CÁ TẦM"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/ChaGioHaiSanCaTam')">CHẢ GIÒ HẢI SẢN CÁ TẦM</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">
                                Nguyên liệu:




                                Cá Tầm phi lê : 200gr

                                Tôm : 50gr

                                Mực : 50gr

                                Quả lê : 30gr...
                            </p>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/HumbugerCaTamKhoaiTayChien')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/201512111354489850d59.jpg?v=1470879610743" alt="Hamburger Cá tầm và Khoai tây chiên"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/HumbugerCaTamKhoaiTayChien')">Hamburger Cá tầm và Khoai tây chiên</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">
                                Thành phần:




                                100 Gr           cá tầm file

                                10...
                            </p>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/GoiCaTam')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/2015121111191826afa3.jpg?v=1470879607783" alt="Gỏi Cá Tầm"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/GoiCaTam')">Gỏi Cá Tầm</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">
                                Thịt cá tầm ngọt thanh kết hợp với các loại gia vị và rau thơm rất phù hợp cho việc giữ dáng của các chị em.

                                ...
                            </p>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/LauCaTamNga')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/2015121111235516c032.jpg?v=1470879608577" alt="Lầu Cá tầm Nga"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/LauCaTamNga')">Lầu Cá tầm Nga</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">  Lẩu cá tầm nga là món lẩu quen thuộc, thơm ngon đặc biệt là đối với người dân miền Tây, sớ thịt cá mềm, dai thật thu hút...</p>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/CaTamCuonNam')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/20151211111658532a3e.jpg?v=1470879606987" alt="Cá Tầm cuộn nấm"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamCuonNam')">Cá Tầm cuộn nấm</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">  Nhắc đến cá tầm giới ẩm thực sẽ nghĩ ngay tới trứng cá tầm (trứng cá đen), cá tầm hun khói, món ăn biểu trưng của nước Nga....</p>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/CaTamSotChanhLeo')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/201512111113325847dca.jpg?v=1470879606220" alt="Cá Tầm sốt chanh leo"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamSotChanhLeo')">Cá Tầm sốt chanh leo</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">
                                Không chỉ có giá trị dinh dưỡng cao, món cá tầm thơm và giòn sẽ là món ăn mới cho gia đình bạn.

                                Nguyên liệu:...
                            </p>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/CaTamNuongMuoiOt')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/201512111165415fdc8.jpg?v=1470879605323" alt="Cá tầm nướng muối ớt"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamNuongMuoiOt')">Cá tầm nướng muối ớt</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">
                                Nguyên liệu:

                                - Thịt cá 1 kg

                                - 100 gr rượu vang trắng

                                - 1 muỗng cà phê ớt bột

                                - 3 củ hành ...
                            </p>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a onclick="goTo('SanPham/ChaoCaTam')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/large/100/114/853/articles/201512111033421193649.jpg?v=1470879604477" alt="Cháo Cá Tầm"></a>
                            </div>
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/ChaoCaTam')">Cháo Cá Tầm</a></h4>
                            <div class="postby">
                                <div class="pull-xs-left mr-left-15"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <p class="blog-item-summary">
                                Nguyên liệu:

                                - 500 gr cá tầm

                                - 50 gr đậu xanh không vỏ

                                - Gạo

                                - 1 củ cà rốt

                                -...
                            </p>
                        </div>

                    </div>
                </aside>


            </div>

        </div>
    </div>




    <footer id="footer">
        <div class="container" id="accordion" role="tablist">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widget-item info-contact">
                        <div class="logo">
                            <a onclick="goTo('Home/Index')"><img src="../bizweb.dktcdn.net/100/114/853/themes/145070/assets/logo_catam.bmp?1538383623685" alt="phanphoicatamdalat" title="phanphoicatamdalat"></a>
                        </div>
                        <!-- End .widget-title -->
                        <ul class="widget-menu">
                            <li><i class="fa fa-map-marker color-x" aria-hidden="true"></i> 35 Đường T5, Phường Tây Thạnh, Quận Tân Phú, Thành Phố Hồ Chí Minh </li>
                            <li><i class="fa fa-phone color-x" aria-hidden="true"></i> 0939.555.386 (Mr. Đạt)</li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a  onclick="goTo('Home/CachMuaHang')">dat1419@gmail.com</a> </li>
                        </ul>
                        <!-- End .widget-menu -->
                    </div>
                </div>

                <div class="col-lg-3 hidden-md-down">
                    <div class="widget-item">
                        <h4 class="widget-title">Thông tin chung</h4>
                        <!-- End .widget-title -->
                        <ul class="widget-menu">

                            <li><a onclick="goTo('Home/index')">Trang chủ</a></li>

                            <li><a onclick="goTo('Home/GioiThieu')">Giới thiệu</a></li>

                            <li><a href="#">Nhận dạng thương hiệu</a></li>

                            <li><a onclick="goTo('SanPham/CachCheBien1')">Tin tức</a></li>

                        </ul>
                        <!-- End .widget-menu -->
                    </div>
                </div>


                <div class="col-lg-3 hidden-md-down">
                    <div class="widget-item">
                        <h4 class="widget-title">Liên kết website</h4>
                        <!-- End .widget-title -->
                        <ul class="widget-menu">

                            <li><a href="https://www.facebook.com/haisancatam/">FACEBOOK</a></li>

                            <li><a href="#">NGUONTHUYSAN.COM</a></li>

                            <li><a href="#">MUARE.VN</a></li>

                            <li><a href="#">THAMBAY.VN</a></li>

                            <li><a href="#">WEBTRETHO.COM</a></li>

                        </ul>
                        <!-- End .widget-menu -->
                    </div>
                </div>


                <div class="col-lg-3 hidden-md-down">
                    <div class="widget-item">
                        <h4 class="widget-title">Về chúng tôi</h4>
                        <!-- End .widget-title -->
                        <ul class="widget-menu">

                            <li><a onclick="goTo('Home/HinhAnh')">Video và hình ảnh</a></li>

                            <li><a onclick="goTo('SanPham/CachCheBien1')">Food and Dining</a></li>

                            <li><a onclick="goTo('Home/index')">Phân Phối cá tầm đà lạt</a></li>

                        </ul>
                        <!-- End .widget-menu -->
                    </div>
                </div>





                <div class="col-xs-12 hidden-sm-up">
                    <div class="widget-item panel">
                        <a class="widget-title" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Thông tin chung<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        <!-- End .widget-title -->
                        <ul class="widget-menu panel-collapse collapse in" id="collapseOne">

                            <li><a onclick="goTo('Home/Index')">Trang chủ</a></li>

                            <li><a href="gioi-thieu-cong-ty.html">Giới thiệu</a></li>

                            <li><a href="he-thong-nhan-dien-thuong-hieu.html">Nhận dạng thương hiệu</a></li>

                            <li><a onclick="goTo('SanPham/CachCheBien1')">Tin tức</a></li>

                        </ul>
                        <!-- End .widget-menu -->
                    </div>
                </div>


                <div class="col-xs-12 hidden-lg-up">
                    <div class="widget-item panel">
                        <a class="widget-title" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Liên kết website<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        <!-- End .widget-title -->
                        <ul class="widget-menu panel-collapse collapse" id="collapseTwo">

                            <li><a href="https://www.facebook.com/haisancatam/">FACEBOOK</a></li>

                            <li><a href="http://nguonthuysan.com/cua-hang/ca-tam-tuoi-song-thuong-hieu-ca-tam-kla-61004">NGUONTHUYSAN.COM</a></li>

                            <li><a href="http://muare.vn/threads/18/ca-tam-tuoi-song-thuong-hieu-ca-tam-kla-seaprodex.3032114/">MUARE.VN</a></li>

                            <li><a href="http://www.thambay.com/TP-Ho-Chi-Minh/Ca-Tam-tuoi-song-Thuong-hieu-Ca-Tam-Kla-c990-a367422.html">THAMBAY.VN</a></li>

                            <li><a href="http://zaodich.webtretho.com/forum/f2933/ca-tam-kla-seaprodex-ca-tam-tuoi-song-1857506/index7.html#post31574923">WEBTRETHO.COM</a></li>

                        </ul>
                        <!-- End .widget-menu -->
                    </div>
                </div>


                <div class="col-xs-12 hidden-lg-up">
                    <div class="widget-item panel">
                        <a class="widget-title" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Về chúng tôi<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        <!-- End .widget-title -->
                        <ul class="widget-menu panel-collapse collapse" id="collapseThree">

                            <li><a onclick="goTo('Home/HinhAnh')">Video và hình ảnh</a></li>

                            <li><a onclick="goTo('SanPham/CachCheBien1')">Food and Dining</a></li>

                            <li><a onclick="goTo('Home/index')">Phân Phối cá tầm đà lạt</a></li>

                        </ul>
                        <!-- End .widget-menu -->
                    </div>
                </div>

            </div>
        </div>
        <div class="bottom-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <hr class="hidden-md-down hr-an-footer">
                    </div>
                    <div class="col-xs-12 col-lg-9 text-xs-left">
                        <span class="info-website">© Bản quyền thuộc về <b class="color-h">phanphoicatamdalat.com.vn</b> | Cung cấp bởi VangHD</span>
                    </div>
                    <div class="col-xs-12 col-lg-3 text-xs-left">
                        <div class="label-jssocials">Follow us</div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ================= Google Fonts ================== -->
    <link href="//fonts.googleapis.com/css?family=Roboto:400,900,500&amp;subset=vietnamese" rel="stylesheet" type="text/css" />

    <!-- Font Awesome CSS -->
    <link href="../bizweb.dktcdn.net/100/114/853/themes/145070/assets/font-awesome4972.css?1538383623685" rel="stylesheet" type="text/css" />

    <!-- Bootstrap CSS -->
    <link href="../bizweb.dktcdn.net/100/114/853/themes/145070/assets/bootstrap.min4972.css?1538383623685" rel="stylesheet" type="text/css" />
    <!-- Owl Carousel CSS -->
    <link href="../bizweb.dktcdn.net/100/114/853/themes/145070/assets/owl.carousel.min4972.css?1538383623685" rel="stylesheet" type="text/css" />
    <!-- <link href="//bizweb.dktcdn.net/100/114/853/themes/145070/assets/owl.theme.default.css?1538383623685" rel="stylesheet" type="text/css" /> -->
    <!-- Animate CSS -->
    <!-- <link href="//bizweb.dktcdn.net/100/114/853/themes/145070/assets/animate.css?1538383623685" rel="stylesheet" type="text/css" /> -->

    <link href="../bizweb.dktcdn.net/100/114/853/themes/145070/assets/jgrowl4972.css?1538383623685" rel="stylesheet" type="text/css" />

    <link href="../bizweb.dktcdn.net/100/114/853/themes/145070/assets/styles4972.css?1538383623685" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Js -->
    <script src="../bizweb.dktcdn.net/100/114/853/themes/145070/assets/bootstrap.min4972.js?1538383623685" type="text/javascript"></script>
    <!-- Dropdowns -->
    <script src="../bizweb.dktcdn.net/100/114/853/themes/145070/assets/dropdowns-enhancement.min4972.js?1538383623685" type="text/javascript"></script>
    <script type="text/javascript" src="../cdn.jsdelivr.net/jquery.jssocials/1.2.1/jssocials.min.js"></script>
    <!-- Owl Carousel Js -->
    <script src="../bizweb.dktcdn.net/100/114/853/themes/145070/assets/owl.carousel.min4972.js?1538383623685" type="text/javascript"></script>

    <script src="../bizweb.dktcdn.net/100/114/853/themes/145070/assets/seting-js4972.js?1538383623685" type="text/javascript"></script>

    <!-- Bizweb javascript -->
    <script src="../bizweb.dktcdn.net/assets/themes_support/option-selectors.js" type="text/javascript"></script>
    <script src="../bizweb.dktcdn.net/assets/themes_support/api.jquery.js" type="text/javascript"></script>



    <script src="../bizweb.dktcdn.net/100/114/853/themes/145070/assets/jgrowl4972.js?1538383623685" type="text/javascript"></script>
    <script src="../bizweb.dktcdn.net/100/114/853/themes/145070/assets/cs.script4972.js?1538383623685" type="text/javascript"></script>
    <script type="text/javascript">

	Bizweb.updateCartFromForm = function(cart, cart_summary_id, cart_count_id) {

		if ((typeof cart_summary_id) === 'string') {
			var cart_summary = jQuery(cart_summary_id);
			if (cart_summary.length) {
				// Start from scratch.
				cart_summary.empty();
				// Pull it all out.
				jQuery.each(cart, function(key, value) {
					if (key === 'items') {

						var table = jQuery(cart_summary_id);
						if (value.length) {
							jQuery.each(value, function(i, item) {		 																																																																																																																																												                                                                                                                    																																																																																																							                     	    var link_img = Bizweb.resizeImage(item.image, 'small');if(link_img=="null" || link_img =='' || link_img ==null){link_img = '../bizweb.dktcdn.net/thumb/large/assets/themes_support/noimage.gif';}

								jQuery('<li class="item"><a class="product-image" href="' + item.url + '" title="' + item.name + '"><img class="anh-img" alt="'+  item.name  + '" src="' + link_img +  '"width="'+ '80' +'"\></a><div class="detail-item"><div class="product-details"> <a href="javascript:void(0);" title="Xóa" onclick="Bizweb.removeItem(' + item.variant_id + ')" class="fa fa-remove">&nbsp;</a><p class="product-name"> <a href="' + item.url + '" title="' + item.name + '">' + item.name + '</a></p></div><div class="product-details-bottom"> <span class="price">' + Bizweb.formatMoney(item.price, "{{amount_no_decimals_with_comma_separator}}₫") + '</span> <span class="title-desc">Số lượng:</span> <strong>' +  item.quantity + '</strong> </div></div></li>').appendTo(table);

							});
							jQuery('<div style="float:left; height:105px;"></div>').appendTo(table);
							jQuery('<li class="li-fix-1"><div class="top-subtotal">Tổng cộng: <span class="price">' + Bizweb.formatMoney(cart.total_price, "{{amount_no_decimals_with_comma_separator}}₫") + '</span></div></li>').appendTo(table);

							jQuery('<li class="li-fix-2" style=""><div class="actions"><button class="btn-checkout" type="button" onclick="window.location.href=\'/checkout\'"><span>Thanh toán</span></button><button class="view-cart" type="button" onclick="window.location.href=\'/cart\'" ><span>Giỏ hàng</span></button></div></li>').appendTo(table);

						}
						else {
							jQuery('<li class="item"><p>Không có sản phẩm nào trong giỏ hàng.</p></li>').appendTo(table);

						}

					}
				});

			}
		}
		updateCartDesc(cart);
	}


	function updateCartDesc(data){
		var $cartLinkText = $('.mini-cart .cartCount'),

			$cartPrice = Bizweb.formatMoney(data.total_price, "{{amount_no_decimals_with_comma_separator}}₫");
		switch(data.item_count){
			case 0:
				$cartLinkText.text('0');

				break;
			case 1:
				$cartLinkText.text('1');

				break;
			default:
				$cartLinkText.text(data.item_count);

				break;
		}
		$('.top-cart-content .top-subtotal .price, aside.sidebar .block-cart .subtotal .price').html($cartPrice);
	}
	Bizweb.onCartUpdate = function(cart) {
		Bizweb.updateCartFromForm(cart, '.top-cart-content .mini-products-list', 'shopping-cart');
	};
	$(window).load(function() {
		// Let's get the cart and show what's in it in the cart box.
		Bizweb.getCart(function(cart) {
			Bizweb.updateCartFromForm(cart, '.top-cart-content .mini-products-list');
		});
	});
    </script>

</body>

<!-- Mirrored from catamkla.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 31 Dec 2020 00:01:35 GMT -->
</html>