
@{
    ViewBag.Title = "CachCheBien6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="index.html">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li><strong>Cách Chế Biến</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>

        <div class="col-xs-12 col-lg-9 col-lg-push-3">


            <div class="box-heading">
                <h1 class="title-head"><a href="#">Cách Chế Biến</a></h1>
            </div>


            <div class="row">


                <div class="col-lg-8">
                    <div class="blog-item-db">
                        <div class="blog-item-thumbnail">

                            <a onclick="goTo('SanPham/CaTamXotPate')"><img src="../bizweb.dktcdn.net/thumb/grande/100/114/853/articles/201512119222665819a.jpg?v=1470879589230" alt="Cá Tầm xốt Pate"></a>

                        </div>
                        <div class="blog-item-content">
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamXotPate')">Cá Tầm xốt Pate</a></h4>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i> Admin </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11/08/2016</div>
                            </div>
                            <p class="blog-item-summary">
                                Nguyên liệu:

                                - 200 gr Cá Tầm

                                - 100 gr pate heo

                                - 50 gr hành tây

                                - 400 ml rượu vang đỏ

                                - 200 gr bông cải xanh

                                - 1 trái bí ngòi vàng 1 trái

                                -  5...
                            </p>
                        </div>
                    </div>
                </div>



                <div class="col-lg-4">
                    <div class="blog-item-db">
                        <div class="blog-item-thumbnail">

                            <a onclick="goTo('SanPham/CaTamNuongDaKemSushi')"><img src="../bizweb.dktcdn.net/thumb/medium/100/114/853/articles/201512119142014928b2.jpg?v=1470879587327" alt="Cá Tầm nướng đá ăn kèm Sushi"></a>

                        </div>
                        <div class="blog-item-content">
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamNuongDaKemSushi')">Cá Tầm nướng đá ăn kèm Sushi</a></h4>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i> Admin </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11 / 08 / 2016</div>
                            </div>
                            <p class="blog-item-summary">
                                Đó cũng là khi một thứ đặc sản của nước này lại được ăn kèm với món ăn dân tộc của một nước khác, mà lại không "chệch" vị chút nào.

                                Nguyên liệu:


                                ·         - 200gr...
                            </p>
                        </div>
                    </div>
                </div>



                <div class="col-lg-4">
                    <div class="blog-item-db">
                        <div class="blog-item-thumbnail">

                            <a onclick="goTo('SanPham/CaTamNuongMuoiOtXiem')"><img src="../bizweb.dktcdn.net/thumb/medium/100/114/853/articles/20151211858137671c2c.jpg?v=1470879585713" alt="Cá Tầm nướng muối ớt xiêm"></a>

                        </div>
                        <div class="blog-item-content">
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamNuongMuoiOtXiem')">Cá Tầm nướng muối ớt xiêm</a></h4>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i> Admin </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11 / 08 / 2016</div>
                            </div>
                            <p class="blog-item-summary">
                                Nguyên liệu  :

                                Cá Tầm phi lê: 120gr

                                Ớt xiêm xanh : 10gr

                                Hành tím : 20gr

                                Hành tây : 20gr

                                Đầu hành : 10gr

                                Tỏi xay : 10gr

                                Bột nêm hải sản: 10gr

                                Ớt bột khô :...
                            </p>
                        </div>
                    </div>
                </div>




                <div class="blog-item">
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item-thumbnail">

                            <a href="CaTamLamSalad"><img src="../bizweb.dktcdn.net/thumb/medium/100/114/853/articles/20151211851254610dd7.jpg?v=1470879583733" alt="Cá Tầm làm Salad"></a>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8">
                        <h4 class="blog-item-name"><a href="CaTamLamSalad">Cá Tầm làm Salad</a></h4>
                        <div class="postby">
                            <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i> Admin </div>
                            <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11/08/2016</div>
                        </div>
                        <p class="blog-item-summary"> Thành phần bao gồm cá tầm lọc fillet, hành tây, hành tím, xả, ớt, rau răm, chanh và  các loại gia vị. Cá tầm sau khi được thái lát mỏng, ướp gia vị cùng rượu Hoa tiêu sẽ được chao nhanh qua dầu nóng già, tạo nên hương... </p>
                    </div>
                </div>

                <div class="blog-item">
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item-thumbnail">

                            <a href="CaTamHapXiDau"><img src="../bizweb.dktcdn.net/thumb/medium/100/114/853/articles/catmsotxidau2930.jpg?v=1476428981803" alt="Cá Tầm hấp xì dầu"></a>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8">
                        <h4 class="blog-item-name"><a href="CaTamHapXiDau">Cá Tầm hấp xì dầu</a></h4>
                        <div class="postby">
                            <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i> Nguyễn Minh Tiến </div>
                            <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11/08/2016</div>
                        </div>
                        <p class="blog-item-summary">
                            Nguyên liệu    :

                            - Cá tầm cắt khúc : 200gr

                            - Tàu xì : 5gr

                            - Nước tương : 2ml

                            - Dầu hào : 3ml

                            - Dầu mè : 1 muỗng

                            - Gừng thái chỉ :

                            ...
                        </p>
                    </div>
                </div>

                <div class="blog-item">
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item-thumbnail">

                            <a onclick="goTo('SanPham/CaTamHapGungHanhXiDau')"><img src="../bizweb.dktcdn.net/thumb/medium/100/114/853/articles/catamhapgung545b.jpg?v=1476429752137" alt="Cá tầm hấp gừng hành và xốt xì dầu"></a>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8">
                        <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamHapGungHanhXiDau')">Cá tầm hấp gừng hành và xốt xì dầu</a></h4>
                        <div class="postby">
                            <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i> Nguyễn Minh Tiến </div>
                            <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11/08/2016</div>
                        </div>
                        <p class="blog-item-summary">
                            Theo Báo   muivi.com  , đăng ngày 28/6/2008

                            Cá tầm thịt trắng, dai, vị béo ngậy và thơm. Món cá hấp gừng hành và xốt xì dầu có hương vị thơm ngon rất hấp dẫn. Mời bạn cùng...
                        </p>
                    </div>
                </div>


                <div class="col-xs-12 text-xs-right">

                    <nav class="wrap-pagination">
                        <ul class="pagination">

                            <li class="page-item"><a class="page-link" onclick="goTo('SanPham/CachCheBien5')"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>




                            <li class="page-item"><a class="page-link" onclick="goTo('SanPham/CachCheBien1')">1</a></li>




                            <li class="page-item"><a class="page-link" href="#">...</a></li>




                            <li class="page-item"><a class="page-link" onclick="goTo('SanPham/CachCheBien4')">4</a></li>



                            <li class="page-item"><a class="page-link" onclick="goTo('SanPham/CachCheBien5')">5</a></li>




                            <li class="active page-item disabled"><a class="page-link" href="#">6</a></li>




                            <li class="page-item"><a class="page-link" onclick="goTo('SanPham/CachCheBien7')">7</a></li>



                            <li class="page-item"><a class="page-link" onclick="goTo('SanPham/CachCheBien8')">8</a></li>




                            <li class="page-item"><a class="page-link" onclick="goTo('SanPham/CachCheBien7')"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>

                        </ul>
                    </nav>

                </div>
            </div>


        </div>
