
@{
    ViewBag.Title = "CachCheBien4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="index.html">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li><strong>Cách Chế Biến</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>

        <div class="col-xs-12 col-lg-9 col-lg-push-3">


            <div class="box-heading">
                <h1 class="title-head"><a href="#">Cách Chế Biến</a></h1>
            </div>


            <div class="row">


                <div class="col-lg-8">
                    <div class="blog-item-db">
                        <div class="blog-item-thumbnail">

                            <a onclick="goTo('SanPham/CaTamNuongMuoiOt')"><img src="../bizweb.dktcdn.net/thumb/grande/100/114/853/articles/201512111165415fdc8.jpg?v=1470879605323" alt="Cá tầm nướng muối ớt"></a>

                        </div>
                        <div class="blog-item-content">
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamNuongMuoiOt')">Cá tầm nướng muối ớt</a></h4>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i> Admin </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11/08/2016</div>
                            </div>
                            <p class="blog-item-summary">
                                Nguyên liệu:

                                - Thịt cá 1 kg

                                - 100 gr rượu vang trắng

                                - 1 muỗng cà phê ớt bột

                                - 3 củ hành

                                - Tỏi

                                - Gừng

                                - Bột nêm

                                - Muối

                                - Dầu hào

                                - Dầu...
                            </p>
                        </div>
                    </div>
                </div>



                <div class="col-lg-4">
                    <div class="blog-item-db">
                        <div class="blog-item-thumbnail">

                            <a onclick="goTo('SanPham/ChaoCaTam')"><img src="../bizweb.dktcdn.net/thumb/medium/100/114/853/articles/201512111033421193649.jpg?v=1470879604477" alt="Cháo Cá Tầm"></a>

                        </div>
                        <div class="blog-item-content">
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/ChaoCaTam')">Cháo Cá Tầm</a></h4>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i> Admin </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11 / 08 / 2016</div>
                            </div>
                            <p class="blog-item-summary">
                                Nguyên liệu:

                                - 500 gr cá tầm

                                - 50 gr đậu xanh không vỏ

                                - Gạo

                                - 1 củ cà rốt

                                - 300 gr nấm rơm

                                - Hành lá

                                Chế biến:

                                - Gạo + đậu xanh rửa...
                            </p>
                        </div>
                    </div>
                </div>



                <div class="col-lg-4">
                    <div class="blog-item-db">
                        <div class="blog-item-thumbnail">

                            <a onclick="goTo('SanPham/CaTamKhoTo')"><img src="../bizweb.dktcdn.net/thumb/medium/100/114/853/articles/20151211102748706d096.jpg?v=1470879603727" alt="Cá Tầm kho tộ"></a>

                        </div>
                        <div class="blog-item-content">
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamKhoTo')">Cá Tầm kho tộ</a></h4>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i> Admin </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11 / 08 / 2016</div>
                            </div>
                            <p class="blog-item-summary">
                                Nguyên liệu:

                                - Cá Tầm trên dưới 1 kg

                                - Đầu hành

                                - Tiêu

                                - Tỏi

                                - Nước mắm

                                - Bột ngọt

                                - Đường

                                - Muối

                                - Mỡ heo

                                - Nước màu

                                Chế Biến: ...
                            </p>
                        </div>
                    </div>
                </div>




                <div class="blog-item">
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item-thumbnail">

                            <a onclick="goTo('SanPham/CaTamOmChuoiDau')"><img src="../bizweb.dktcdn.net/thumb/medium/100/114/853/articles/201512111020117712c35.jpg?v=1470879601067" alt="Cá Tầm om chuối đậu"></a>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8">
                        <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamOmChuoiDau')">Cá Tầm om chuối đậu</a></h4>
                        <div class="postby">
                            <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i> Admin </div>
                            <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11/08/2016</div>
                        </div>
                        <p class="blog-item-summary">  Cá tầm       là thực phẩm tốt cho sức khỏe con người vì trong     cá     có thành phần dinh dưỡng cao, nhiều vitamin A, B6, B12, phốt pho, selenium, omega 3 và 6 nên việc... </p>
                    </div>
                </div>

                <div class="blog-item">
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item-thumbnail">

                            <a onclick="goTo('SanPham/CaTamNuongXien')"><img src="../bizweb.dktcdn.net/thumb/medium/100/114/853/articles/20151211101668178039.jpg?v=1470879599717" alt="Cá Tầm xiên que nướng"></a>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8">
                        <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamNuongXien')">Cá Tầm xiên que nướng</a></h4>
                        <div class="postby">
                            <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i> Admin </div>
                            <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11/08/2016</div>
                        </div>
                        <p class="blog-item-summary">
                            - Để tăng vị cay, tăng màu sắc và kích thích tiêu hóa, bạn có thể cho thêm khoảng 1/5 thìa cà phê bột ớt, 1/2 thìa cà phê tương ớt vào gia vị ướp cá.

                            Nguyên liệu:


                            -...
                        </p>
                    </div>
                </div>

                <div class="blog-item">
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item-thumbnail">

                            <a href="CaTamCuonLaLot"><img src="../bizweb.dktcdn.net/thumb/medium/100/114/853/articles/20151211101846848248.jpg?v=1470879600303" alt="Cá Tầm cuốn lá lốt"></a>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8">
                        <h4 class="blog-item-name"><a href="CaTamCuonLaLot">Cá Tầm cuốn lá lốt</a></h4>
                        <div class="postby">
                            <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i> Admin </div>
                            <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11/08/2016</div>
                        </div>
                        <p class="blog-item-summary">
                            Thành phần:

                            -   Cá Tầm phi lê

                            – Thịt nạc  xay
                            – Lá lốt

                            - Bột hành tím

                            – Tiêu xọ đập dập

                            – Bột hải sản
                            – Bột ngò
                            – Bột tỏi
                            – Dầu ăn

                            ...
                        </p>
                    </div>
                </div>


                <div class="col-xs-12 text-xs-right">

                    <nav class="wrap-pagination">
                        <ul class="pagination">

                            <li class="page-item"><a class="page-link" onclick="goTo('SanPham/CachCheBien3')"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>




                            <li class="page-item"><a class="page-link" onclick="goTo('SanPham/CachCheBien1')">1</a></li>



                            <li class="page-item"><a class="page-link" onclick="goTo('SanPham/CachCheBien2')">2</a></li>



                            <li class="page-item"><a class="page-link"  onclick="goTo('SanPham/CachCheBien3')">3</a></li>




                            <li class="active page-item disabled"><a class="page-link" href="#">4</a></li>




                            <li class="page-item"><a class="page-link"  onclick="goTo('SanPham/CachCheBien5')">5</a></li>



                            <li class="page-item"><a class="page-link" onclick="goTo('SanPham/CachCheBien6')">6</a></li>




                            <li class="page-item"><a class="page-link" href="#">...</a></li>




                            <li class="page-item"><a class="page-link" onclick="goTo('SanPham/CachCheBien8')">8</a></li>




                            <li class="page-item"><a class="page-link" onclick="goTo('SanPham/CachCheBien5')"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>

                        </ul>
                    </nav>

                </div>
            </div>


        </div>
