
@{
    ViewBag.Title = "CachCheBien2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a onclick="goTo('Home/Index')">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li><strong>Cách Chế Biến</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>


        <div class="col-xs-12 col-lg-9 col-lg-push-3">


            <div class="box-heading">
                <h1 class="title-head"><a href="#">Cách Chế Biến</a></h1>
            </div>


            <div class="row">


                <div class="col-lg-8">
                    <div class="blog-item-db">
                        <div class="blog-item-thumbnail">

                            <a onclick="goTo('SanPham/CaTamCuonRongBien')"><img src="../bizweb.dktcdn.net/thumb/grande/100/114/853/articles/2015121416451981332f3.jpg?v=1470879619660" alt="Cá Tầm cuộn rong biển"></a>

                        </div>
                        <div class="blog-item-content">
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamCuonRongBien')">Cá Tầm cuộn rong biển</a></h4>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i> Admin </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11/08/2016</div>
                            </div>
                            <p class="blog-item-summary">
                                Nguyên liệu:

                                + 200g chả cá ba sa

                                + 3 lá rong biển

                                + 100g thanh cua Nhật

                                + Ngò rí, đầu hành băm nhuyễn

                                + Gia vị: Nước mắm, tiêu, dầu ăn, bột chiên.

                                Chế biến: ...
                            </p>
                        </div>
                    </div>
                </div>



                <div class="col-lg-4">
                    <div class="blog-item-db">
                        <div class="blog-item-thumbnail">

                            <a onclick="goTo('SanPham/LauCaTamChuaCay')"><img src="../bizweb.dktcdn.net/thumb/medium/100/114/853/articles/201512178578485591d.jpg?v=1470879622300" alt="Lầu Cá Tầm chua cay"></a>

                        </div>
                        <div class="blog-item-content">
                            <h4 class="blog-item-name"><a onclick="goTo('SanPham/LauCaTamChuaCay')">Lầu Cá Tầm chua cay</a></h4>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i> Admin </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11 / 08 / 2016</div>
                            </div>
                            <p class="blog-item-summary">  Lẫu cá Tầm chua cay là món ăn rất ngon và bổ dưỡng.Thịt cá Tầm săn chắc,tươi ngon,giàu chất dinh dưỡng,đặc biệt xương cá Tầm khi ăn giòn như sụn,rất ngon.Cách chế biến nhanh,không sử dụng màu hay gói gia vị bán sẵn.Bạn sẽ đem đến cho những...</p>
                        </div>
                    </div>
                </div>




                <div class="blog-item">
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item-thumbnail">

                            <a onclick="goTo('SanPham/CaTamNuongXien')"><img src="../bizweb.dktcdn.net/thumb/medium/100/114/853/articles/2015121114151104fff5.jpg?v=1470879617407" alt="Cá Tầm nướng xiên"></a>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8">
                        <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamNuongXien')">Cá Tầm nướng xiên</a></h4>
                        <div class="postby">
                            <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i> Admin </div>
                            <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11/08/2016</div>
                        </div>
                        <p class="blog-item-summary">cá tầm nướng xiên là một món ăn quen thuộc và nhiều giá trị dinh dưỡng ... </p>
                    </div>
                </div>

                <div class="blog-item">
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item-thumbnail">

                            <a onclick="goTo('SanPham/CaTamDutLo')"><img src="../bizweb.dktcdn.net/thumb/medium/100/114/853/articles/20151211141040947e5b6.jpg?v=1470879614830" alt="Cá Tầm đút lò với Lagim"></a>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8">
                        <h4 class="blog-item-name"><a onclick="goTo('SanPham/CaTamDutLo')">Cá Tầm đút lò với Lagim</a></h4>
                        <div class="postby">
                            <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i> Admin </div>
                            <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11/08/2016</div>
                        </div>
                        <p class="blog-item-summary">


                            Nguyên liệu  :

                            - 700gr cá Tầm

                            - 100gr hành tây

                            - 300gr khoai tây

                            - 300gr ớt Đà Lạt (3 quả 3 màu)

                            - 100gr cà chua

                            - 100ml dầu ôliu
                            - Ít lá...
                        </p>
                    </div>
                </div>

                <div class="blog-item">
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item-thumbnail">

                            <a onclick="goTo('SanPham/LauCaTam')"><img src="../bizweb.dktcdn.net/thumb/medium/100/114/853/articles/20151211145299092138.jpg?v=1470879613050" alt="Lầu Cá Tầm"></a>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8">
                        <h4 class="blog-item-name"><a onclick="goTo('SanPham/LauCaTam')">Lầu Cá Tầm</a></h4>
                        <div class="postby">
                            <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i> Admin </div>
                            <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11/08/2016</div>
                        </div>
                        <p class="blog-item-summary">
                            Thành phần:




                            - 700 gram Cá Tầm

                            - 200 gram Hành lá

                            - 50 gram ớt trái đỏ

                            - 100 gram gừng

                            - 100 gram bột mì

                            - 1 củ hành tây





                            -...
                        </p>
                    </div>
                </div>


                <div class="col-xs-12 text-xs-right">

                    <nav class="wrap-pagination">
                        <ul class="pagination">

                            <li class="page-item"><a class="page-link"  onclick="goTo('SanPham/CachCheBien1')"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>




                            <li class="page-item"><a class="page-link" onclick="goTo('SanPham/CachCheBien1')">1</a></li>




                            <li class="active page-item disabled"><a class="page-link" href="#">2</a></li>




                            <li class="page-item"><a class="page-link" onclick="goTo('SanPham/CachCheBien3')">3</a></li>



                            <li class="page-item"><a class="page-link" onclick="goTo('SanPham/CachCheBien4')">4</a></li>




                            <li class="page-item"><a class="page-link" href="#">...</a></li>




                            <li class="page-item"><a class="page-link" onclick="goTo('SanPham/CachCheBien8')">8</a></li>




                            <li class="page-item"><a class="page-link" onclick="goTo('SanPham/CachCheBien3')"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>

                        </ul>
                    </nav>

                </div>
            </div>


        </div>

