
@{
    ViewBag.Title = "CaTamHapHongKong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="index.html">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a href="cach-che-bien.html">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>CÁ TẦM HẤP HỒNG KÔNG</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>

        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a onclick="goTo('SanPham/CaTamHapHongKong')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/20151211840174514c9e.jpg?v=1470879578547" alt="CÁ TẦM HẤP HỒNG KÔNG"></a>
                            </div>
                            <h1 class="article-title"><a onclick="goTo('SanPham/CaTamHapHongKong')">CÁ TẦM HẤP HỒNG KÔNG</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;"><strong>Nguyên liệu và gia vị:</strong></p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">-&nbsp;Cá Tầm 500g</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">- Gừng thái chỉ 01 củ</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">- Ớt thái chỉ 01 trái</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">- Ngò rí 5 cọng</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">- Dầu ăn 2 muỗng (dội lên khi cá hấp chín).</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;"><strong>Nguyên liệu làm nước hấp cá: </strong></p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">- Gừng 01 củ</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">- Ớt sừng 1 trái</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">- Hành lá 30g</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">- &nbsp;Gốc ngò rí 20g</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">- &nbsp;Hành tím 10g</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">- &nbsp;Dầu ăn 3 muỗng</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">- nước sốt hấp cá 70ml</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">- Nước tương Nhật 20ml</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">- &nbsp;Nước tương Magi 2 muỗng</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">- Nước dùng cá 100ml</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">- Đường 1 muỗng</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">- &nbsp;Bột hải sản 2 muỗng.</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">&nbsp;</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;"><strong>&nbsp;Cách Thực hiện:</strong></p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">
                                    <br />
                                    Cá Tầm làm sạch, tẩy rượu gừng, hấp cá chín (khoảng 8 phút), Làm nước hấp cá: Phi thơm hành, gừng, rễ ngò, ớt. Cho nước dùng cá vào đun khoảng 30 phút, lược lọc sạch lấy nước thơm, nêm nước hấp cá, nước tương Nhật, nước tương Magi, bột hải sản, đường. Sau khi cá được hấp chín lấy nước hấp cá đã nêm vừa ăn dội lên cá, rắc hành lá, gừng thái chỉ, ngò rí lên trên cá, đun sôi dầu ăn dội lên cá.
                                </p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">
                                    <br />
                                    <strong>Yêu cầu thành phẩm:</strong>
                                </p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;background:white;">
                                    <br />
                                    &bull; Cá chín tới vừa ăn, mùi thơm đặc trưng, không có vị tanh, dùng nóng với nước tương
                                </p>

                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:4.5pt;margin-left:18.0pt;line-height:14.5pt;background:white;">&nbsp;</p>
                            </div>
                        </div>
                    </div>



                </div>
            </section>
        </div>

