
@{
    ViewBag.Title = "CaTamCuonRiengNuong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a onclick="goTo('Home/Index')">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a onclick="goTo('SanPham/CachCheBien1')">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>Cá Tầm cuốn riềng nướng</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>



        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a onclick="goTo('SanPham/CaTamCuonRiengNuong')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/20161585739711dbf1.jpg?v=1470879623073" alt="Cá Tầm cuốn riềng nướng"></a>
                            </div>
                            <h1 class="article-title"><a onclick="goTo('SanPham/CaTamCuonRiengNuong')">Cá Tầm cuốn riềng nướng</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">Món Cá Tầm cuộn riềng nướng rất ngon,giàu chất dinh dưỡng.Món ăn ngon,dể làm vì giờ đây bạn đã có công thức chuẩn,nên việc chế biến rất nhanh.Nhanh tay nấu món mới đãi cả nhà,bảo đảm cả nhà sẽ thích ngay thôi!</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">Nguyên liệu:</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">- 400 g phi lê cá tầm</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">- 1muỗng sả bằm</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">- 2 muỗng riềng bằm</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">- 1 muỗng tỏi bằm</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">- 1 1/2 muỗng đường</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">- 1 muỗng bột ngọt</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">- 1/4 muỗng tiêu</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">- 1/4 muỗng muối</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">- 1 muỗng dầu ăn</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">- 1 muỗng nước mắm</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">- 1 cây salad nhúng</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">- 1 trái cà chua</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">- 50 g mỡ gáy heo</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">- Tí xíu ớt bột hoặc ớt bằm</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">Cách làm:</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">Bước 1:&nbsp;</span></p>

                                <p>
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- 400g Phi lê cá Tầm,rữa sạch,để ráo,cắt khúc vừa ăn,lạng mỏng.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Mỡ luộc chín 70%,xã nước lạnh,để ráo-&gt;thái thanh dài 6 cm,ngang 1cm.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Làm sauce ướp cá Tầm:&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Cân gia vị xong,bắt chảo lên bếp,bật lữa,chảo nóng cho 2 M Dầu ăn-&gt;dầu nóng lần lượt cho tỏi bằm,xã bằm,riềng bằm..vào xào nhanh tay-&gt;giảm lữa vừa,xào cho thơm,cho tiếp gia vị vào xào 2&#39;phút cho gia vị hòa quyện vào,tắt bếp.Hỗn hợp nguội-&gt;ướp cá đều hai mặt 10&#39; phút.</span><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">&nbsp;</span>
                                </p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">Bước 2:</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">Cuộn một miếng cá Tầm với 1 thanh mỡ-&gt;xiên que-&gt; nướng than hoa,vừa nướng vừa phết gia vị,trở cá cho chín vàng đều hai mặt.</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">Bước 3:</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">Cá Tầm cuộn riềng sau khi nướng chín vàng đều hai mặt hương thơm lừng, thịt cá Tầm tươi ngon,béo và săn chắc.Hưong vị của riềng,sã,tỏi hòa chung với vị cay nhẹ của ớt tạo cho món ăn vị đặc trưng,rất ngon.Dùng kèm cơm nóng hoặc cuộn rau thơm,bún ,chấm nước mắm pha tỏi ớt,rất ngon.&nbsp;</span></p>

                                <p>&nbsp;</p>

                                <p>&nbsp;</p>

                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>



                </div>
            </section>
        </div>



