
@{
    ViewBag.Title = "CaTamCuonNam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a onclick="goTo('Home/Index')">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a onclick="goTo('SanPham/CachCheBien1')">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>Cá Tầm cuộn nấm</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>

        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a onclick="goTo('SanPham/CaTamCuonNam')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/20151211111658532a3e.jpg?v=1470879606987" alt="Cá Tầm cuộn nấm"></a>
                            </div>
                            <h1 class="article-title"><a onclick="goTo('SanPham/CaTamCuonNam')">Cá Tầm cuộn nấm</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p><span style="color: rgb(37, 37, 37); font-family: Arial, sans-serif; font-weight: bold; line-height: 15.4px; background-color: rgb(255, 255, 255);">Nhắc đến cá tầm giới ẩm thực sẽ nghĩ ngay tới trứng cá tầm (trứng cá đen), cá tầm hun khói, món ăn biểu trưng của nước Nga. Với thớ thịt trắng, dai khi nấu không bị nát cá tầm có thể chế biến được nhiều món ăn như gỏi, nướng, hấp, lẩu&hellip;</span></p>

                                <p><span style="color: rgb(37, 37, 37); font-family: Arial, sans-serif; font-weight: bold; line-height: 15.4px; background-color: rgb(255, 255, 255);">Nguyên liệu:</span></p>

                                <ul style="box-sizing: border-box; margin: 0px; list-style: none; padding: 0px; color: rgb(37, 37, 37); font-family: Arial, sans-serif; line-height: 20px; background-color: rgb(255, 255, 255);">
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">300g thịt cá tầm</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">200g nấm kim châm</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">20g nấm đông cô khô (nấm hương)</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">1/2 muỗng súp dầu hào, nước tương</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Nước dùng heo, rượu trắng</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Tỏi băm, dầu mè</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Hành lá, bột năng</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Dầu ăn, hạt nêm, tiêu</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;"><strong>Chế biến:</strong></li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Cá tầm lạng mỏng thành miếng dài, ướp cá với hạt nêm, tiêu.</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Hành lá rửa sạch, trụng qua nước sôi. Nấm đông cô ngâm nở, bỏ chân, băm nhỏ.</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Nấm kim châm bỏ gốc, rửa sạch.Trải miếng cá ra thớt, đặt nấm kim châm vào, cuốn tròn lại.</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Bắc chảo tráng dầu ăn, cho cá cuộn vào áp chảo.</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Nêm ít dầu ăn vào chảo, phi thơm tỏi, cho nấm đông cô vào xào, nêm nước dùng, dầu hào, nước tương, hạt nêm, tiêu, dầu mè xuống bột năng, đun sánh đều rồi dội lên đĩa cá.</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">
                                        <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(51, 51, 51); font-family: Arial, sans-serif; line-height: 20px; background-color: rgb(255, 255, 255);">Chúc các bạn ngon miệng với món&nbsp;<strong style="box-sizing: border-box;">cá tầm cuộn nấm</strong>.</p>
                                    </li>
                                </ul>

                                <p>&nbsp;</p>

                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="social-media text-xs-left" style="border-top:1px #ebebeb solid; border-bottom:1px #ebebeb solid; padding:15px 0px;">
                            <div style="margin-right: 10px; display: inline-block; color:#333">Chia sẻ bài viết:</div>
                            <div class="jssocials" id="share"></div>
                        </div>
                    </div>



                </div>
            </section>
        </div>

