
@{
    ViewBag.Title = "CaTamDongLanh1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="index.html">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>


                    <li>
                        <a href="ca-me.html">Cá mè</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li><strong>Cá tầm đông lạnh</strong>
                    <li>

                </ul>
            </div>
        </div>
    </div>
</section>


            <div class="col-xs-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-5 details-product">
                        <div class="owl-carousel owl-theme product-images large-image">

                            <div class="item">
                                <a href="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-3220-min-jpgc6f3.jpg?v=1478830191830" data-image="//bizweb.dktcdn.net/thumb/large/100/114/853/products/img-3220-min-jpg.jpg?v=1478830191830" data-zoom-image="//bizweb.dktcdn.net/thumb/large/100/114/853/products/img-3220-min-jpg.jpg?v=1478830191830">
                                    <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-3220-min-jpgc6f3.jpg?v=1478830191830" alt="">
                                </a>
                            </div>

                            <div class="item">
                                <a href="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-4205-jpg-4e5f6e9c-ad51-4403-b60a-c7fec0ae227158f5.jpg?v=1505114438753" data-image="//bizweb.dktcdn.net/thumb/large/100/114/853/products/img-4205-jpg-4e5f6e9c-ad51-4403-b60a-c7fec0ae2271.jpg?v=1505114438753" data-zoom-image="//bizweb.dktcdn.net/thumb/large/100/114/853/products/img-4205-jpg-4e5f6e9c-ad51-4403-b60a-c7fec0ae2271.jpg?v=1505114438753">
                                    <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-4205-jpg-4e5f6e9c-ad51-4403-b60a-c7fec0ae227158f5.jpg?v=1505114438753" alt="">
                                </a>
                            </div>

                        </div>
                        <div class="owl-carousel owl-theme thumbnail-product">

                            <div class="item">
                                <img src="../bizweb.dktcdn.net/thumb/small/100/114/853/products/img-3220-min-jpgc6f3.jpg?v=1478830191830" alt="">
                            </div>

                            <div class="item">
                                <img src="../bizweb.dktcdn.net/thumb/small/100/114/853/products/img-4205-jpg-4e5f6e9c-ad51-4403-b60a-c7fec0ae227158f5.jpg?v=1505114438753" alt="">
                            </div>

                        </div>
                    </div>

                    <div class="product-shop col-xs-12 col-sm-12 col-lg-7 details-product">
                        <h1 class="product-name">Cá tầm đông lạnh</h1>
                        <ul class="info-model-pro">
                            <li><b>Thương hiệu:</b> </li>
                            <li>
                                <b>Tình Trạng: </b>

                                <span class="availability in-stock pull-right"> Còn hàng </span>

                            </li>
                        </ul>

                        <div class="price-box">


                            <div class="special-price"><span class="price product-price">130.000₫</span> </div> <!-- Giá -->


                        </div>

                        <div class="product-description">
                            Cá tầm đông lạnh
                            Size từ  1-2kg
                            + Xuất xứ: Lâm Đồng.
                            + Mỗi con cá tầm KLA đều được gắn seal in logo SEAPRODEX để truy xuất nguồn gốc cá.
                            + Cá ngộp được cấp đông để giữ độ tươi cho cá,...
                        </div>

                        <div class="form-product">
                            <form enctype="multipart/form-data" id="add-to-cart-form" action="http://catamkla.com/cart/add" method="post" class="form-inline">
                                <div class="box-variant clearfix">



                                    <input type="hidden" name="variantId" value="5685212" />


                                </div>

                                <label class="pull-xs-left label-form-pro">Số lượng: &nbsp;&nbsp;&nbsp;</label>
                                <div class="custom custom-btn-number form-control">
                                    <input type="number" class="input-text qty" title="Qty" value="1" min="1" maxlength="12" id="qty" name="quantity">
                                    <!-- <button onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="increase items-count" type="button"><i class="fa fa-plus"></i></button>
                                    <button onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty > 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="fa fa-minus"></i></button> -->
                                </div>

                                <div class="btn-form-product pull-sm-left">

                                    <!-- <button class="btn btn-lg btn-style btn-style-active btn-style-check" title="Tiến hành thanh toán" type="button" onclick="window.location.href='/checkout'">THANH TOÁN NGAY</button> -->
                                    <button class="btn btn-lg btn-style btn-style-active btn-cart add_to_cart" title="Thêm vào giỏ hàng"><span><i class="icon-basket"></i> GIỎ HÀNG</span></button>

                                </div>
                                <!--<label class="label-form-pro call-phone pull-xs-left"><span class="hidden-xs-down">&nbsp;&nbsp;&nbsp;</span>Gọi <a href="tel: 08 3488 1646" title="Mua hàng">08 3488 1646(04) 6674 2332</a> để được trợ giúp</label>-->

                            </form>
                            <div class="social-media text-xs-left">
                                <div class="pull-xs-left" id="shareButtonLabelCount"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-tab-detailspro" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home" role="tab">THÔNG TIN SẢN PHẨM</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Hướng dẫn mua hàng</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Đánh giá chi tiết</a>
                            </li>

                        </ul>

                        <div class="tab-content tab-content-detailspro">
                            <div class="tab-pane fade in active" id="home" role="tabpanel">
                                <h1>Cá tầm đông lạnh</h1>
                                <h2>Size từ <strong>1-2kg</strong></h2>
                                <p>+ Xuất xứ: Lâm Đồng.</p>
                                <p>+ Mỗi con cá tầm KLA đều được gắn seal in logo SEAPRODEX để truy xuất nguồn gốc cá.</p>
                                <p>+ Cá ngộp được cấp đông để giữ độ tươi cho cá, cá mới hàng ngày.</p>
                                <p>+ Giao hàng tận nơi khi mua từ 4 con trở lên</p>
                                <p>+ Giá bán: 130.000đ/kg</p>
                                <p>&nbsp;</p>
                            </div>

                            <div class="tab-pane fade" id="profile" role="tabpanel">
                                Các nội dung Hướng dẫn mua hàng viết ở đây
                            </div>


                            <div class="tab-pane fade" id="messages" role="tabpanel">
                                Nội dung đánh giá chi tiết viết ở đây
                            </div>

                        </div>
                    </div>




                    <div class="col-xs-12" style="margin-bottom:30px;">
                        <div class="heading">
                            <h2 class="title-head"><a href="ca-me.html">Sản phẩm liên quan</a></h2>
                        </div>
                        <div class="owl-sanphamlienquan owl-carousel owl-theme products-view-grid">

                            <div class="item">










                                <div class="product-box">
                                    <div class="product-thumbnail">
                                        <a href="ca-tam-dong-lanh-2.html" title="Cá Tầm Đông Lạnh">
                                            <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-3223-min-min-jpg4a8e.jpg?v=1479112685450" alt="Cá Tầm Đông Lạnh">
                                            <span class="img-pro-hover">



                                                <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-4207-jpg-63c59744-d7ab-498f-8931-9e82d0552d9eb0cd.jpg?v=1505114373047" alt="Cá Tầm Đông Lạnh">

                                            </span>
                                        </a>
                                    </div>
                                    <h3 class="product-name"><a href="ca-tam-dong-lanh-2.html" title="Cá Tầm Đông Lạnh">Cá Tầm Đông Lạnh</a></h3>

                                    <div class="product-price">Liên hệ</div>

                                    <p><a href="ca-tam-dong-lanh-2.html" class="btn btn-style">MUA HÀNG</a></p>
                                </div>
                            </div>

                            <div class="item">










                                <div class="product-box">
                                    <div class="product-thumbnail">
                                        <a href="ca-bong-tuong-1kg.html" title="Lẩu Cá Tầm">
                                            <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/lam-lau-ca-tam-tuyet-ngon-va-bo-duong-hinh-anh-207d3.jpg?v=1478061012893" alt="Lẩu Cá Tầm">
                                            <span class="img-pro-hover">



                                                <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/lam-lau-ca-tam-tuyet-ngon-va-bo-duong-hinh-anh-207d3.jpg?v=1478061012893" alt="Lẩu Cá Tầm">

                                            </span>
                                        </a>
                                    </div>
                                    <h3 class="product-name"><a href="ca-bong-tuong-1kg.html" title="Lẩu Cá Tầm">Lẩu Cá Tầm</a></h3>

                                    <div class="product-price">Liên hệ</div>

                                    <p><a href="ca-bong-tuong-1kg.html" class="btn btn-style">MUA HÀNG</a></p>
                                </div>
                            </div>

                            <div class="item">










                                <div class="product-box">
                                    <div class="product-thumbnail">
                                        <a href="ca-ro-phi-1-kg.html" title="Cá tầm hấp gừng">
                                            <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/catamhapgungae13.jpg?v=1478059090713" alt="Cá tầm hấp gừng">
                                            <span class="img-pro-hover">



                                                <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/catamhapgungae13.jpg?v=1478059090713" alt="Cá tầm hấp gừng">

                                            </span>
                                        </a>
                                    </div>
                                    <h3 class="product-name"><a href="ca-ro-phi-1-kg.html" title="Cá tầm hấp gừng">Cá tầm hấp gừng</a></h3>

                                    <div class="product-price">Liên hệ</div>

                                    <p><a href="ca-ro-phi-1-kg.html" class="btn btn-style">MUA HÀNG</a></p>
                                </div>
                            </div>

                            <div class="item">










                                <div class="product-box">
                                    <div class="product-thumbnail">
                                        <a href="ca-tre-1.html" title="Cá Tầm">
                                            <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/ca-tam-nha-trang-157d1.jpg?v=1478057836837" alt="Cá Tầm">
                                            <span class="img-pro-hover">



                                                <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/ca-tam-nha-trang-157d1.jpg?v=1478057836837" alt="Cá Tầm">

                                            </span>
                                        </a>
                                    </div>
                                    <h3 class="product-name"><a href="ca-tre-1.html" title="Cá Tầm">Cá Tầm</a></h3>

                                    <div class="product-price">Liên hệ</div>

                                    <p><a href="ca-tre-1.html" class="btn btn-style">MUA HÀNG</a></p>
                                </div>
                            </div>

                            <div class="item">










                                <div class="product-box">
                                    <div class="product-thumbnail">
                                        <a onclick="goTo('SanPham/CaTamDongLanh1')" title="Cá tầm đông lạnh">
                                            <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-3220-min-jpgc6f3.jpg?v=1478830191830" alt="Cá tầm đông lạnh">
                                            <span class="img-pro-hover">



                                                <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-4205-jpg-4e5f6e9c-ad51-4403-b60a-c7fec0ae227158f5.jpg?v=1505114438753" alt="Cá tầm đông lạnh">

                                            </span>
                                        </a>
                                    </div>
                                    <h3 class="product-name"><a onclick="goTo('SanPham/CaTamDongLanh1')" title="Cá tầm đông lạnh">Cá tầm đông lạnh</a></h3>


                                    <div class="product-price">130.000₫</div>


                                    <p><a onclick="goTo('SanPham/CaTamDongLanh1')" class="btn btn-style">MUA HÀNG</a></p>
                                </div>
                            </div>

                            <div class="item">










                                <div class="product-box">
                                    <div class="product-thumbnail">
                                        <a href="ca-tam-tuoi-song-1.html" title="Cá tầm tươi sống">
                                            <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-2978-jpgc603.jpg?v=1478831588867" alt="Cá tầm tươi sống">
                                            <span class="img-pro-hover">



                                                <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-3104-min-jpge86f.jpg?v=1479094583137" alt="Cá tầm tươi sống">

                                            </span>
                                        </a>
                                    </div>
                                    <h3 class="product-name"><a href="ca-tam-tuoi-song-1.html" title="Cá tầm tươi sống">Cá tầm tươi sống</a></h3>


                                    <div class="product-price">230.000₫</div>


                                    <p><a href="ca-tam-tuoi-song-1.html" class="btn btn-style">MUA HÀNG</a></p>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
