
@{
    ViewBag.Title = "CaTamTuoiSong1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a onclick="goTo('Home/Index')">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li><strong>Cá tầm tươi sống</strong>
                    <li>

                </ul>
            </div>
        </div>
    </div>
</section>

            <div class="col-xs-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-5 details-product">
                        <div class="owl-carousel owl-theme product-images large-image">

                            <div class="item">
                                <a href="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-2978-jpgc603.jpg?v=1478831588867" data-image="//bizweb.dktcdn.net/thumb/large/100/114/853/products/img-2978-jpg.jpg?v=1478831588867" data-zoom-image="//bizweb.dktcdn.net/thumb/large/100/114/853/products/img-2978-jpg.jpg?v=1478831588867">
                                    <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-2978-jpgc603.jpg?v=1478831588867" alt="">
                                </a>
                            </div>

                            <div class="item">
                                <a href="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-3104-min-jpge86f.jpg?v=1479094583137" data-image="//bizweb.dktcdn.net/thumb/large/100/114/853/products/img-3104-min-jpg.jpg?v=1479094583137" data-zoom-image="//bizweb.dktcdn.net/thumb/large/100/114/853/products/img-3104-min-jpg.jpg?v=1479094583137">
                                    <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-3104-min-jpge86f.jpg?v=1479094583137" alt="">
                                </a>
                            </div>

                            <div class="item">
                                <a href="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-3037-jpge86f.jpg?v=1479094583137" data-image="//bizweb.dktcdn.net/thumb/large/100/114/853/products/img-3037-jpg.jpg?v=1479094583137" data-zoom-image="//bizweb.dktcdn.net/thumb/large/100/114/853/products/img-3037-jpg.jpg?v=1479094583137">
                                    <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-3037-jpge86f.jpg?v=1479094583137" alt="">
                                </a>
                            </div>

                        </div>
                        <div class="owl-carousel owl-theme thumbnail-product">

                            <div class="item">
                                <img src="../bizweb.dktcdn.net/thumb/small/100/114/853/products/img-2978-jpgc603.jpg?v=1478831588867" alt="">
                            </div>

                            <div class="item">
                                <img src="../bizweb.dktcdn.net/thumb/small/100/114/853/products/img-3104-min-jpge86f.jpg?v=1479094583137" alt="">
                            </div>

                            <div class="item">
                                <img src="../bizweb.dktcdn.net/thumb/small/100/114/853/products/img-3037-jpge86f.jpg?v=1479094583137" alt="">
                            </div>

                        </div>
                    </div>

                    <div class="product-shop col-xs-12 col-sm-12 col-lg-7 details-product">
                        <h1 class="product-name">Cá tầm tươi sống</h1>
                        <ul class="info-model-pro">
                            <li><b>Thương hiệu:</b> </li>
                            <li>
                                <b>Tình Trạng: </b>

                                <span class="availability in-stock pull-right"> Còn hàng </span>

                            </li>
                        </ul>

                        <div class="price-box">


                            <div class="special-price"><span class="price product-price">230.000₫</span> </div> <!-- Giá -->


                        </div>

                        <div class="product-description">
                            Cá tầm tươi sống size từ  2,5 - 5 kg
                                 Sản phẩm của HaiSanCaTam được cam kết bảo đảm nguồn gốc xuất xứ,...
                        </div>

                    </div>

                    <div class="col-xs-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-tab-detailspro" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home" role="tab">THÔNG TIN SẢN PHẨM</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Hướng dẫn mua hàng</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Đánh giá chi tiết</a>
                            </li>

                        </ul>

                        <div class="tab-content tab-content-detailspro">
                            <div class="tab-pane fade in active" id="home" role="tabpanel">
                                <h2>Cá tầm tươi sống size từ <strong>2,5 - 5kg</strong></h2>

                                <h2><strong>NHẬN DIỆN THƯƠNG HIỆU của HaiSanCaTam </strong></h2>

                                <p>
                                    <br />

                                    Sản phẩm của HaiSanCaTam được cam kết bảo đảm nguồn gốc xuất xứ,...
                                    <br />
                                    An toàn thực phẩm hiện đang là mối quan tâm của toàn xã hội, là sự lo lắng của những người tiêu dùng, đặc biệt là khi tổ chức ăn uống cho nhiều người. Chúng tôi hy vọng thông tin sản phẩm của chúng tôi đến tay quí vị sẽ giúp ích cho quí vị trong quyết định lựa chọn thực phẩm an toàn, dinh dưỡng cao, giá cả hợp lý.
                                </p>

                                <table border="1" cellpadding="1" cellspacing="1" height="186" width="712">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center;"><strong>Cách thức mua hàng</strong></td>
                                            <td style="text-align: center;"><strong>Số lượng &lt;5kg</strong></td>
                                            <td style="text-align: center;"><strong>Số lượng &gt;5kg</strong></td>
                                            <td style="text-align: center;"><strong>Số lượng &gt;10kg</strong></td>
                                            <td style="text-align: center;"><strong>Ghi chú</strong></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;"><em>Giao hàng tận nơi &lt;7km</em></td>
                                            <td style="text-align: center;"><em>245.000đ/kg</em></td>
                                            <td style="text-align: center;"><em>230.000đ/kg</em></td>
                                            <td style="text-align: center;"><em>Liên hệ có giá tốt</em></td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;"><em>Đến mua tại kho cá</em></td>
                                            <td style="text-align: center;"><em>230.000đ/kg</em></td>
                                            <td style="text-align: center;"><em>220.000đ/kg</em></td>
                                            <td style="text-align: center;"><em>Liên hệ có giá tốt</em></td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;"><em>Giao hàng tận nơi </em>&gt;7km</td>
                                            <td style="text-align: center;"><em>250.000đ/kg</em></td>
                                            <td style="text-align: center;"><em>240.000đ/kg</em></td>
                                            <td style="text-align: center;"><em>Liên hệ có giá tốt</em></td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <p>
                                    <span style="font-family:arial,helvetica,sans-serif;">HaiSanCaTam GIAO HÀNG TẬN NƠI nội thành TPHCM khi mua 2 con trở lên. Xin liên hệ Mr. Đạt : 0939.555.386</span><br />
                                    <br />
                                    &nbsp;
                                </p>

                                <p>&nbsp;</p>
                            </div>

                            <div class="tab-pane fade" id="profile" role="tabpanel">
                                Các nội dung Hướng dẫn mua hàng viết ở đây
                            </div>


                            <div class="tab-pane fade" id="messages" role="tabpanel">
                                Nội dung đánh giá chi tiết viết ở đây
                            </div>

                        </div>
                    </div>




                    <div class="col-xs-12" style="margin-bottom:30px;">
                        <div class="heading">
                            <h2 class="title-head"><a href="ca-me.html">Sản phẩm liên quan</a></h2>
                        </div>
                        <div class="owl-sanphamlienquan owl-carousel owl-theme products-view-grid">



                            <div class="item">










                                <div class="product-box">
                                    <div class="product-thumbnail">
                                        <a onclick="goTo('SanPham/LauCaTam')" title="Lẩu Cá Tầm">
                                            <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/lam-lau-ca-tam-tuyet-ngon-va-bo-duong-hinh-anh-207d3.jpg?v=1478061012893" alt="Lẩu Cá Tầm">
                                            <span class="img-pro-hover">



                                                <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/lam-lau-ca-tam-tuyet-ngon-va-bo-duong-hinh-anh-207d3.jpg?v=1478061012893" alt="Lẩu Cá Tầm">

                                            </span>
                                        </a>
                                    </div>
                                    <h3 class="product-name"><a onclick="goTo('SanPham/LauCaTam')" title="Lẩu Cá Tầm">Lẩu Cá Tầm</a></h3>

                                    <div class="product-price">Liên hệ</div>

                                    <p><a onclick="goTo('SanPham/LauCaTam')" class="btn btn-style">MUA HÀNG</a></p>
                                </div>
                            </div>

                            <div class="item">










                                <div class="product-box">
                                    <div class="product-thumbnail">
                                        <a onclick="goTo('SanPham/CaTamHapGung')" title="Cá tầm hấp gừng">
                                            <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/catamhapgungae13.jpg?v=1478059090713" alt="Cá tầm hấp gừng">
                                            <span class="img-pro-hover">



                                                <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/catamhapgungae13.jpg?v=1478059090713" alt="Cá tầm hấp gừng">

                                            </span>
                                        </a>
                                    </div>
                                    <h3 class="product-name"><a onclick="goTo('SanPham/CaTamHapGung')" title="Cá tầm hấp gừng">Cá tầm hấp gừng</a></h3>

                                    <div class="product-price">Liên hệ</div>

                                    <p><a onclick="goTo('SanPham/CaTamHapGung')" class="btn btn-style">MUA HÀNG</a></p>
                                </div>
                            </div>

                            <div class="item">










                                <div class="product-box">
                                    <div class="product-thumbnail">
                                        <a onclick="goTo('SanPham/CaTam')" title="Cá Tầm">
                                            <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/ca-tam-nha-trang-157d1.jpg?v=1478057836837" alt="Cá Tầm">
                                            <span class="img-pro-hover">



                                                <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/ca-tam-nha-trang-157d1.jpg?v=1478057836837" alt="Cá Tầm">

                                            </span>
                                        </a>
                                    </div>
                                    <h3 class="product-name"><a onclick="goTo('SanPham/CaTam')" title="Cá Tầm">Cá Tầm</a></h3>

                                    <div class="product-price">Liên hệ</div>

                                    <p><a onclick="goTo('SanPham/CaTam')" class="btn btn-style">MUA HÀNG</a></p>
                                </div>
                            </div>

                            <div class="item">










                                <div class="product-box">
                                    <div class="product-thumbnail">
                                        <a onclick="goTo('SanPham/CaTamDongLanh1')" title="Cá tầm đông lạnh">
                                            <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-3220-min-jpgc6f3.jpg?v=1478830191830" alt="Cá tầm đông lạnh">
                                            <span class="img-pro-hover">



                                                <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-4205-jpg-4e5f6e9c-ad51-4403-b60a-c7fec0ae227158f5.jpg?v=1505114438753" alt="Cá tầm đông lạnh">

                                            </span>
                                        </a>
                                    </div>
                                    <h3 class="product-name"><a onclick="goTo('SanPham/CaTamDongLanh1')" title="Cá tầm đông lạnh">Cá tầm đông lạnh</a></h3>


                                    <div class="product-price">130.000₫</div>


                                    <p><a onclick="goTo('SanPham/CaTamDongLanh1')" class="btn btn-style">MUA HÀNG</a></p>
                                </div>
                            </div>

                            <div class="item">










                                <div class="product-box">
                                    <div class="product-thumbnail">
                                        <a onclick="goTo('SanPham/CaTamTuoiSong1')" title="Cá tầm tươi sống">
                                            <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-2978-jpgc603.jpg?v=1478831588867" alt="Cá tầm tươi sống">
                                            <span class="img-pro-hover">



                                                <img src="../bizweb.dktcdn.net/thumb/large/100/114/853/products/img-3104-min-jpge86f.jpg?v=1479094583137" alt="Cá tầm tươi sống">

                                            </span>
                                        </a>
                                    </div>
                                    <h3 class="product-name"><a onclick="goTo('SanPham/CaTamTuoiSong1')" title="Cá tầm tươi sống">Cá tầm tươi sống</a></h3>


                                    <div class="product-price">230.000₫</div>


                                    <p><a onclick="goTo('SanPham/CaTamTuoiSong1')" class="btn btn-style">MUA HÀNG</a></p>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
