
@{
    ViewBag.Title = "CaTamRangMuoi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="index.html">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a href="cach-che-bien.html">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>Cá Tầm rang muối</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>


        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a onclick="goTo('SanPham/CaTamRangMuoi')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/2015121194151879bd95.jpg?v=1470879590177" alt="Cá Tầm rang muối"></a>
                            </div>
                            <h1 class="article-title"><a onclick="goTo('SanPham/CaTamRangMuoi')">Cá Tầm rang muối</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p><strong>Nguyên liệu:</strong><span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>

                                <p><strong>-</strong><span class="apple-converted-space">&nbsp;</span>Cá Tầm tươi<span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>

                                <p>- Muối hột : 1 kg<span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>

                                <p>- Mở: 1 muỗng súp<span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>

                                <p>- Hành lá, ớt, rau thơm<span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>

                                <p><strong>Chế biến:</strong><span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>

                                <p><strong>Bước 1: Làm sạch Cá Tầm</strong><span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>

                                <p><strong>-</strong><span class="apple-converted-space"><b>&nbsp;</b></span>Đầu tiên đập đầu cá cho cá chết đi rồi, dùng chính cái mũi dao bén chích máu ở hai bên mang cá rồi chúng ta dội nước sạch sẽ lên cá cho sạch nhớt. Các bạn cứ để yên nguyên con cá như thế này, không cần phải chặt đuôi hay cắt vẩy cá và đánh vảy cá gì cả.<span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>

                                <p>- Đặt con cá đã được làm sạch lên trên một cái đĩato bằng sành chịu nóng tốt hay một cái khay bằng nhôm thì càng tốt hơn nữa. Các phần đầu và phần đuôi các bạn có thể dùng làm súp hoặc là lẩu gì cũng được cả.<span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>

                                <p><strong>Bước 2: Thực hiện cách làm Cá Tầm rang muối</strong><span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>

                                <p>- Đặt một cái nồi lên trên bếp nấu, đổ hết tất cả 1 kg muối hột cho luôn vào nồi, khuấy thật là đều lên rồi đặt con cá vào bên trong nồi nấu. Đậy kín nắp vung nồi lại ( dùng lá chuối rồi và chúng ta mới đậy nắp vung lên).<span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>

                                <p>- Bắc một cái nồi lên bếp đun từ trong chừng khoảng từ 20 đến 45 phút. Vì hơi nóng của nồi này và của muối sẽ làm cho cá thật là chính và thật là khô lên.<span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>

                                <p><strong>Bước 3: Pha chế nước chấm cá</strong><span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>

                                <p>- Người ăn hồi trước hay ăn chấm muối ớt còn hiện giờ chúng ta hay dùng thay chén muối ớt đó bằng các loại nước chấm ngon hơn, được chế biến kỹ càng hơn. Có khi thì nước mắm cùng với tỏi, ớt, chanh và&nbsp;&nbsp;đường, khi thì chúng ta pha nước mắm chấm như là tương hột cùng với sả, đường, đậu phộng rang, hoặc dùng mắm nêm và kèm theo ăn sau đó là rau sống và bánh tráng trắng.<span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>

                                <p>- Cá Tầm từng miếng có màu vàng tươi, hơi cháy khét các cạnh hơi một chút nên mới thơm thơm. Ăn món ăn này ngon nhất ở chỗ là khi cá còn nóng thì miếng cá nhai giòn giòn , dai và cả vị mặn của muối làm cho món cá tầm rang muối trở nên thật đậm đà hơn.<o:p></o:p></p>
                            </div>
                        </div>
                    </div>


                </div>
            </section>
        </div>
