
@{
    ViewBag.Title = "CaTamCuonRongBien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a onclick="goTo('Home/Index')">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a onclick="goTo('SanPham/CachCheBien1')">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>Cá Tầm cuộn rong biển</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>


        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a onclick="goTo('SanPham/CaTamCuonRongBien')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/2015121416451981332f3.jpg?v=1470879619660" alt="Cá Tầm cuộn rong biển"></a>
                            </div>
                            <h1 class="article-title"><a onclick="goTo('SanPham/CaTamCuonRongBien')">Cá Tầm cuộn rong biển</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <h2 style="font-style:italic;"><span style="font-size:12px;"><strong>Nguyên liệu:</strong></span></h2>

                                <p style="margin: 0px 0px 20px; padding: 0px; line-height: 21px; color: rgb(34, 34, 34); font-family: Tahoma, Geneva, sans-serif; background-color: rgb(255, 255, 255);">+ 200g chả cá ba sa</p>

                                <p style="margin: 0px 0px 20px; padding: 0px; line-height: 21px; color: rgb(34, 34, 34); font-family: Tahoma, Geneva, sans-serif; background-color: rgb(255, 255, 255);">+ 3 lá rong biển</p>

                                <p style="margin: 0px 0px 20px; padding: 0px; line-height: 21px; color: rgb(34, 34, 34); font-family: Tahoma, Geneva, sans-serif; background-color: rgb(255, 255, 255);">+ 100g thanh cua Nhật</p>

                                <p style="margin: 0px 0px 20px; padding: 0px; line-height: 21px; color: rgb(34, 34, 34); font-family: Tahoma, Geneva, sans-serif; background-color: rgb(255, 255, 255);">+ Ngò rí, đầu hành băm nhuyễn</p>

                                <p style="margin: 0px 0px 20px; padding: 0px; line-height: 21px; color: rgb(34, 34, 34); font-family: Tahoma, Geneva, sans-serif; background-color: rgb(255, 255, 255);">+ Gia vị: Nước mắm, tiêu, dầu ăn, bột chiên.</p>

                                <p style="margin: 0px 0px 20px; padding: 0px; line-height: 21px; color: rgb(34, 34, 34); font-family: Tahoma, Geneva, sans-serif; background-color: rgb(255, 255, 255);"><strong>Chế biến:</strong></p>

                                <p style="margin: 0px 0px 20px; padding: 0px; line-height: 21px; color: rgb(34, 34, 34); font-family: Tahoma, Geneva, sans-serif; background-color: rgb(255, 255, 255);">Bước 1: Đầu tiên ta ướp chả cá với nước mắm, tiêu, ngò rí và đầu hành trong thời gian 10 phút cho cá ngấm gia vị.</p>

                                <p style="margin: 0px 0px 20px; padding: 0px; line-height: 21px; color: rgb(34, 34, 34); font-family: Tahoma, Geneva, sans-serif; background-color: rgb(255, 255, 255);">Bước 2: Trải mặt láng của lá rong biển lên mặt thớt, phết đều 1 lớp mỏng chả cá lên bề mặt miếng rong biển , tiếp đến cho thanh cua vào và cuốn thật chặt tay để tầm 10 phút cho lá rong biển mềm ra. Cắt cuộn rong biển vừa cuốn thành 4 khúc tròn đều nhau. Sau đó, ta cho 1 gói bột chiên giòn vào 120ml nước, &nbsp;khuấy để chiên.</p>

                                <p style="margin: 0px 0px 20px; padding: 0px; line-height: 21px; color: rgb(34, 34, 34); font-family: Tahoma, Geneva, sans-serif; background-color: rgb(255, 255, 255);">Bước 3: Bắc chảo lên bếp, đun nóng dầu rồi &nbsp;nhúng từng cuộn rong biển quao bột phủ đều khắp các mặt của cuộn rong biển, thả vào dầu chiên chín vàng đều rồivớt ra để ráo dầu.</p>

                                <p style="margin: 0px 0px 20px; padding: 0px; line-height: 21px; color: rgb(34, 34, 34); font-family: Tahoma, Geneva, sans-serif; background-color: rgb(255, 255, 255);"><em style="margin: 0px; padding: 0px;">Chỉ với 3 bước đơn giản là ra đã có&nbsp;<strong style="margin: 0px; padding: 0px; font-style: normal;">món chả cá cuộn rong biển</strong>&nbsp;thơm ngon, lạ miệng và cực hấp dẫn rồi. Hãy lên kế hoạch chuẩn bị món ăn này cho ngày cuối tuần của gia đình thêm ấm áp nhé. Chúc bạn thành công.</em></p>
                            </div>
                        </div>
                    </div>



                </div>
            </section>
        </div>

