
@{
    ViewBag.Title = "CaTamXotPate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="index.html">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a href="cach-che-bien.html">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>Cá Tầm xốt Pate</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>

        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a onclick="goTo('SanPham/CaTamXotPate')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/201512119222665819a.jpg?v=1470879589230" alt="Cá Tầm xốt Pate"></a>
                            </div>
                            <h1 class="article-title"><a onclick="goTo('SanPham/CaTamXotPate')">Cá Tầm xốt Pate</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p><strong>Nguyên liệu:</strong></p>

                                <p>- 200 gr Cá Tầm</p>

                                <p>- 100 gr pate heo</p>

                                <p>- 50 gr hành tây</p>

                                <p>- 400 ml rượu vang đỏ</p>

                                <p>- 200 gr bông cải xanh</p>

                                <p>- 1 trái bí ngòi vàng 1 trái</p>

                                <p>- &nbsp;5 gr húng tây</p>

                                <p>- 1 nhánh tiêu xanh</p>

                                <p>- 2 thìa súp hạt nêm Knorr 3 Nấm Ngon</p>

                                <p>- Tiêu, muối, đường.</p>

                                <p><strong>Chế Biến:</strong></p>

                                <p>1. File Cá Tầm sơ chế sạch lau khô ướp muối, tiêu, hạt nêm Knorr 3 Nấm ngon, húng tây trong 30 phút. Xương cá nấu nước dùng cá</p>

                                <p>2. Bông cải sơ chế chần qua nước sôi xào qua dầu + hạt nêm Knorr 3 nấm ngon + muối + Tiêu.</p>

                                <p>3. Bí ngòi sơ chế cắt khối xào qua dầu + hạt nêm Knorr 3 nấm ngon + muối + tiêu.</p>

                                <p>4. Bí ngòi sơ chế cắt khối xào qua dầu + hạt nêm Knorr 3 nấm ngon + muối + tiêu.</p>

                                <p>5. Làm xốt pate: trộn dầu thực vật , hành tây bằm, pate, rượu vang, nước dùng cá, cho hạt nêm Knorr 3 nấm ngon + đường + rượu vangnêm vừa ăn, tắt bếp để nguội. Xay tiêu xanh trang trí.</p>

                                <p>6. Cá Tầm chiên áp chảo cho da vàng, lật qua mặt thịt chiên sơ. Tắt bếp &amp; dùng nóng.</p>

                                <p>7. Trang trí: xốt bông cải + bí ngòi, cá tầm, tiêu xanh.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="social-media text-xs-left" style="border-top:1px #ebebeb solid; border-bottom:1px #ebebeb solid; padding:15px 0px;">
                            <div style="margin-right: 10px; display: inline-block; color:#333">Chia sẻ bài viết:</div>
                            <div class="jssocials" id="share"></div>
                        </div>
                    </div>



                </div>
            </section>
        </div>

