
@{
    ViewBag.Title = "CaTamCuonLaLot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="index.html">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a href="cach-che-bien.html">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>Cá Tầm cuốn lá lốt</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>

        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a href="CaTamCuonLaLot"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/20151211101846848248.jpg?v=1470879600303" alt="Cá Tầm cuốn lá lốt"></a>
                            </div>
                            <h1 class="article-title"><a href="CaTamCuonLaLot">Cá Tầm cuốn lá lốt</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p style="margin-bottom:0.0001pt;"><strong><span style="background:white;">Thành phần:</span></strong></p>

                                <p style="margin-bottom:11.25pt;background:white;">-<strong>&nbsp;</strong>Cá Tầm&nbsp;phi lê</p>

                                <p style="margin-bottom:11.25pt;background:white;">
                                    &ndash; Thịt nạc &nbsp;xay<br />
                                    &ndash; Lá lốt
                                </p>

                                <p style="margin-bottom:11.25pt;background:white;">- Bột hành tím</p>

                                <p style="margin-bottom:11.25pt;background:white;">&ndash; Tiêu xọ đập dập</p>

                                <p style="margin-bottom:11.25pt;background:white;">
                                    &ndash; Bột hải sản<br />
                                    &ndash; Bột ngò<br />
                                    &ndash; Bột tỏi<br />
                                    &ndash; Dầu ăn
                                </p>

                                <p style="margin-bottom:11.25pt;background:white;"><strong>Chế biến:</strong></p>

                                <p style="margin-bottom:11.25pt;background:white;">
                                    1.&nbsp;Cá Tầm&nbsp;đem bằm nhuyễn trộn đều với thịt nạc xay<br />
                                    2. Hỗn hợp dùng để ướp : Trộn đều tất cả các thành phần tẩm ướp trên .<br />
                                    3. Ướp cá tầm và thịt xay với hỗn hợp trên cùng với dầu ăn.<br />
                                    4. Lá lốt rửa sạch ngâm nước muối, vớt ra lau khô, quết lên trên một lớp dầu ăn lên, lấy cá và thịt &nbsp;nạc xay đã tẩm ướp cho vào rồi cuộn lại.
                                </p>

                                <p style="margin-bottom:11.25pt;background:white;">5. Đóng gói và cho vào ngăn mát tủ lạnh.</p>

                                <p style="margin-bottom:11.25pt;background:white;">
                                    6.Nhúng qua dầu ăn ,để khi nướng vẩn giữ được màu xanh của món ăn.<br />
                                    7. Nướng&nbsp;cá&nbsp;trên than hoa,hoặc chiên áp chảo đến khi&nbsp;cá&nbsp;chín, ăn kèm với rau sống cuốn cùng bánh tráng
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </section>
        </div>

