
@{
    ViewBag.Title = "CaTamNuongRiengMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="index.html">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a href="cach-che-bien.html">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>Cá tầm nướng riêng mẻ</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>

        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a onclick="goTo('SanPham/CaTamNuongRiengMe')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/20151211834369717b0b.jpg?v=1470879573097" alt="Cá tầm nướng riêng mẻ"></a>
                            </div>
                            <h1 class="article-title"><a onclick="goTo('SanPham/CaTamNuongRiengMe')">Cá tầm nướng riêng mẻ</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;margin-left:0cm;line-height:14.5pt;background:white;">Cá tầm là cá nước ngọt hay nước mặn đều được vì đa số các loài cá tầm trải qua phần lớn cuộc đời sinh sống ở biển khơi nhưng lại ngược dòng quay về sông để đẻ trứng. Thoạt nhìn bề ngoài, cá tầm trông dữ dằn nhưng thực chất là loài cá &ldquo;hiền&rdquo; bởi miệng cá không có răng, còn xương thì gần như biến thành sụn.</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;margin-left:0cm;line-height:14.5pt;background:white;">Thịt cá tầm màu trắng, dai, chắc, có vị béo ngậy. Trong thành phần dinh dưỡng của loài cá này chứa rất nhiều vitamin A, phốt pho, vitamin B6, B12, selenium, nhiều omega 3 và omega 6, nên dễ hấp thu và dễ tiêu hóa, tốt cho sức khỏe con người.</p>

                                <p style="margin-bottom:4.5pt;line-height:14.5pt;background:white;">Đặc biệt, cá tầm chứa hai loại chất dinh dưỡng là EPA và DHA. Hàm lượng DHA trong 100gr thịt cá là khoảng 0,54gr; cung cấp DHA cho bà mẹ mang thai và trẻ em.</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;margin-left:0cm;line-height:14.5pt;background:white;">Ngoài ra, trong thành phần thịt cá còn chứa một hàm lượng protein, niacin và vitamin 12, những dưỡng chất có lợi cho hoạt động cơ thể và bộ não con người. Tổng hợp các vitamin có trong cá tầm rất tốt cho làn da và mái tóc của phụ nữ. Các công ty dược phẩm thường sử dụng sụn cá tầm để bào chế ra các loại thuốc có lợi cho xương khớp, giúp phát triển chiều cao của trẻ em và phục hồi các khớp xương của người già.</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;margin-left:0cm;line-height:14.5pt;background:white;">Cá tầm có thể chế biến thành nhiều món ăn khác nhau. Phần lưng cá có nhiều thịt nhất thì đem nướng, phần đầu cá và đuôi cá cho vào nồi lẩu măng chua rất đậm đà. Người ta thường làm món cá tầm nướng ăn kèm rau răm và muối ớt xanh,...</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;margin-left:0cm;line-height:14.5pt;background:white;">Thịt cá tầm khi đem chế biến thành lẩu rất hấp hẫn, dù bạn có ninh thịt thật lâu trong nồi lẩu cũng chẳng lo cá bị nát nhừ như nhiều loại cá khác.</p>

                                <p style="margin-top:4.5pt;margin-right:0cm;margin-bottom:4.5pt;margin-left:0cm;line-height:14.5pt;background:white;">Điều đặc biệt nữa của cá tầm: xương chính của cá đều là sụn. Xương sống toàn sụn, đầu và mang cá cũng có rất nhiều sụn. Vì thế khi ăn lẩu cá tầm chỉ phải bỏ phần xương bụng và vây bơi, còn lại đều ăn được.</p>

                                <p>Ngoài ra, còn có nhiều món khác như cá tầm nướng muối ớt, cá tầm nướng riềng mẻ,&nbsp;</p>
                            </div>
                        </div>
                    </div>


                </div>
            </section>
        </div>
