
@{
    ViewBag.Title = "CaTamXotChanhDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a onclick="goTo('Home/Index')">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a onclick="goTo('SanPham/CachCheBien1')">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>Cá tầm sốt chanh dây</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>


        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a onclick="goTo('SanPham/CaTamXotChanhDay')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/20162216353724103b9.jpg?v=1470879627997" alt="Cá tầm sốt chanh dây"></a>
                            </div>
                            <h1 class="article-title"><a onclick="goTo('SanPham/CaTamXotChanhDay')">Cá tầm sốt chanh dây</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 12px; line-height: 19.2px;"><span style="background-color:#FFFFFF;">Đây là một món ăn mới lạ và rất được yêu thích.&nbsp;</span></span></span><span style="font-family: Arial, 'Segoe UI', 'Lucida Grande', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 19.2px;"><span style="background-color:#FFFFFF;">Khác với món nướng có thể làm cho thịt cá bị mất nước và dẫn đến bị khô, hoặc món lẩu nhiều nước làm cho thịt cá bị lạt ra và mất tính đặc trưng khi nằm chung với quá nhiều nguyên liệu khác. Cá tầm sốt chanh dây làm cho cá tầm vừa ngọt thịt, lại vừa dai, vừa béo rất đặc trưng của cá tầm.</span></span></p>

                                <p><strong style="font-family: Arial, 'Segoe UI', 'Lucida Grande', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 19.2px;"><span style="text-decoration: underline;"><span style="background-color:#FFFFFF;">NGUYÊN LIỆU:</span></span></strong></p>

                                <p><span style="line-height: 19.2px; font-family: Arial, 'Segoe UI', 'Lucida Grande', Tahoma, Arial, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);">1. Cá tầm: 01 con (700gr &ndash; 1000gr)</span></p>

                                <p><span style="line-height: 19.2px; font-family: Arial, 'Segoe UI', 'Lucida Grande', Tahoma, Arial, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);">2. Hỗn hợp bột chiên:</span></p>

                                <p><span style="font-family: Arial, 'Segoe UI', 'Lucida Grande', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 19.2px; background-color: rgb(255, 255, 255);">+ bột mì và muối pha với lượng nước vừa phải cho hơi sệt sệt (đủ để nhúng cá tầm vào lăn vài vòng để tẩm bột chiên).</span></p>

                                <p><span style="line-height: 19.2px; font-family: Arial, 'Segoe UI', 'Lucida Grande', Tahoma, Arial, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);">3. Nước sốt chanh dây</span></p>

                                <p><span style="font-family: Arial, 'Segoe UI', 'Lucida Grande', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 19.2px; background-color: rgb(255, 255, 255);">+ chanh dây: 2 &ndash; 3 trái, bổ đôi, lấy ruột, gạn lấy nước cốt.</span></p>

                                <p><span style="font-family: Arial, 'Segoe UI', 'Lucida Grande', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 19.2px; background-color: rgb(255, 255, 255);">+ bột năng: 1 &ndash; 2 thìa</span></p>

                                <p><span style="font-family: Arial, 'Segoe UI', 'Lucida Grande', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 19.2px; background-color: rgb(255, 255, 255);">+ bột mì: 2 thìa lớn</span></p>

                                <p><span style="font-family: Arial, 'Segoe UI', 'Lucida Grande', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 19.2px; background-color: rgb(255, 255, 255);">+ bơ: 2 thìa&nbsp; lớn</span></p>

                                <p><span style="font-family: Arial, 'Segoe UI', 'Lucida Grande', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 19.2px; background-color: rgb(255, 255, 255);">+ ít muối, ít bột nêm, ít đường, ít dầu ăn</span></p>

                                <p><span style="font-family: Arial, 'Segoe UI', 'Lucida Grande', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 19.2px; background-color: rgb(255, 255, 255);">+ rượu vang trắng</span></p>

                                <p><span style="font-family: Arial, 'Segoe UI', 'Lucida Grande', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 19.2px; background-color: rgb(255, 255, 255);">Đun nóng dầu, phi hành tỏi cho thơm, cho nước cốt chanh dây &amp; 0,5 chén nước (hoặc thay bằng 0,5 chén rượu vang) vào nấu sôi, them bột năng, bột mì, bơ, ít muối, ít đường, rượu vang để cho nước sốt vừa sệt sệt là được.</span></p>

                                <p><strong style="font-family: Arial, 'Segoe UI', 'Lucida Grande', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 19.2px;"><span style="text-decoration: underline;"><span style="background-color:#FFFFFF;">CÁCH LÀM:</span></span></strong></p>

                                <p><span style="font-family: Arial, 'Segoe UI', 'Lucida Grande', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 19.2px; background-color: rgb(255, 255, 255);">+ Cá tầm làm sạch, trên thân cá khứa vài vết dao cho dễ thấm gia vị, ướp gia vị vừa phải.</span></p>

                                <p><span style="font-family: Arial, 'Segoe UI', 'Lucida Grande', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 19.2px; background-color: rgb(255, 255, 255);">+ Nhúng cá tầm vào hỗn hợp bột để tẩm bột. Cho dầu ăn vào chảo, đun nóng sau đó bỏ cá tẩm đã tẩm bột vào chiên trong vài phút (nên cho dầu ăn ngập cá tầm). Khi thấy cá vừa vàng, sánh mượt là lấy cá ra dĩa ngay.</span></p>

                                <p><span style="font-family: Arial, 'Segoe UI', 'Lucida Grande', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 19.2px; background-color: rgb(255, 255, 255);">+ Rưới nước sốt chanh dây lên trên cá tầm mới vừa chiên xong (lưu ý: nước sốt phải để nóng và cá tầm vừa chiên xong lấy ra dĩa là rưới nước sốt lên cá tầm ngay). Trang trí ít rau ngò, ớt trái trên dĩa cá cho đẹp.</span></p>

                                <p><span style="line-height: 19.2px; font-family: Arial, 'Segoe UI', 'Lucida Grande', Tahoma, Arial, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);">Lúc này ta đã có món CÁ TẦM SỐT CHANH DÂY vừa dai vừa béo ngọt, món này càng ngon hơn nếu ta dùng khi đang còn nóng.</span></p>
                            </div>
                        </div>
                    </div>


                </div>
            </section>
        </div>



