
@{
    ViewBag.Title = "CaTamNuongDaKemSushi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="index.html">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a href="cach-che-bien.html">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>Cá Tầm nướng đá ăn kèm Sushi</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>



        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a onclick="goTo('SanPham/CaTamNuongDaKemSushi')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/201512119142014928b2.jpg?v=1470879587327" alt="Cá Tầm nướng đá ăn kèm Sushi"></a>
                            </div>
                            <h1 class="article-title"><a onclick="goTo('SanPham/CaTamNuongDaKemSushi')">Cá Tầm nướng đá ăn kèm Sushi</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">Đó cũng là khi một thứ đặc sản của nước này lại được ăn kèm với món ăn dân tộc của một nước khác, mà lại không &quot;chệch&quot; vị chút nào.</p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;"><strong>Nguyên liệu:</strong></p>

                                <div style="border:none;border-bottom:dotted #CCCCCC 1.0pt;padding:0cm 0cm 0cm 0cm;background:white;margin-left:-10.5pt;margin-right:0cm;">
                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 200gr cá tầm file</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 10g trứng cá tầm</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 2 lá dong biển</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 100ml dầu olive</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 100gr gạo Nhật</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 50ml xì dầu</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 60ml dấm Nhật</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Mù tạt</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Chanh</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Gừng</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">- &nbsp; &nbsp; &nbsp; &nbsp; - Ngâm chua ngọt</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&nbsp; &nbsp; <strong>&nbsp; &nbsp; &nbsp; Cách chế biến:</strong></p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&nbsp; &nbsp; &nbsp; &nbsp; <strong>&nbsp;Bước 1:&nbsp;</strong>Gạo Nhật ngâm nước 15 phút cho mềm, cho vào nồi cơm điện nấu như nấu cơm bình thường. Khi cơm vừa chín tới, đánh cho tơi, trộn với dấm Nhật rồi để nguội. Dàn cơm ra khuôn, dùng lá rong biển cuộn chặt.</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&nbsp; &nbsp; &nbsp; <strong>&nbsp; Bước 2: &nbsp;</strong>Cá Tầm file ướp một chút muối và tiêu, cũng dùng lá rong biển cuộn chặt, rồi cắt khoanh khoảng 2cm, sau đó thấm dầu olive hai bên mặt.</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&nbsp; &nbsp; &nbsp; &nbsp; <strong>Bước 3: &nbsp;</strong>Đá cuội rửa thật sạch, làm nóng trên 700C, áp 2 mặt cá vào bề mặt của đá để làm chín. Dọn cả đá cuội lên mâm, xếp cơm lên trên, cá ở trên cùng, điểm thêm ít trứng cá. Ăn kèm gừng ngâm chua, chấm với xì dầu pha mù tạt xanh.</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&nbsp;</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&nbsp;</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&nbsp;</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&nbsp;</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&nbsp;</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&nbsp;</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&nbsp;</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">&nbsp;</p>

                                    <p style="margin:0cm 0cm 0.0001pt 18pt;text-indent:-18pt;line-height:24pt;vertical-align:baseline;border:none;padding:0cm;background-image:initial;background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;">-</p>
                                </div>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">&nbsp;</p>
                            </div>
                        </div>
                    </div>



                </div>
            </section>
        </div>
