
@{
    ViewBag.Title = "CaTamNauCaRiKemComTrang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="index.html">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a href="cach-che-bien.html">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>Cá Tầm nấu cà ri ăn kèm với cơm trắng</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>

        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a onclick="goTo('SanPham/CaTamNauCaRiKemComTrang')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/2015121183632380fb8a.jpg?v=1470879576460" alt="Cá Tầm nấu cà ri ăn kèm với cơm trắng"></a>
                            </div>
                            <h1 class="article-title"><a onclick="goTo('SanPham/CaTamNauCaRiKemComTrang')">Cá Tầm nấu cà ri ăn kèm với cơm trắng</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;line-height:15.3pt">
                                    <strong>
                                        <i>
                                            <u>
                                                <span style="font-size:10.0pt;font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;;color:#333333">Thành phần:</span>
                                            </u>
                                        </i>
                                    </strong><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#333333"><o:p></o:p></span>
                                </p>

                                <p style="margin-top:3.75pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;line-height:15.3pt">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#333333">300gr : Cá Tầm<o:p></o:p></span>
                                </p>

                                <p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;line-height:15.3pt">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#333333">100gr : Bắp còi<o:p></o:p></span>
                                </p>

                                <p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;line-height:15.3pt">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#333333">100gr : Cà tím<o:p></o:p></span>
                                </p>

                                <p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;line-height:15.3pt">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#333333">50gr&nbsp;&nbsp; : Tỏi băm nhỏ<o:p></o:p></span>
                                </p>

                                <p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;line-height:15.3pt">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#333333">100gr : Hành tây thái lựu nhỏ<o:p></o:p></span>
                                </p>

                                <p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;line-height:15.3pt">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#333333">2 cây&nbsp; : xả băm nhỏ (giữ phần lá xanh để trang trí)<o:p></o:p></span>
                                </p>

                                <p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;line-height:15.3pt">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#333333">3 trái&nbsp; : Ớt đỏ lớn bỏ hạt băm nhỏ<o:p></o:p></span>
                                </p>

                                <p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:3.75pt;margin-left:
0cm;line-height:15.3pt">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#333333">6 trái&nbsp; : ớt sim xanh băm nhỏ<o:p></o:p></span>
                                </p>

                                <p style="margin-top:3.75pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;line-height:15.3pt">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#333333">50gr&nbsp;&nbsp; : Ngò rí băm nhỏ<o:p></o:p></span>
                                </p>

                                <p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;line-height:15.3pt">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#333333">100gr : Cà chua bỏ hạt băm nhỏ<o:p></o:p></span>
                                </p>

                                <p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;line-height:15.3pt">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#333333">30gr&nbsp;&nbsp; : Bột cà ri vàng<o:p></o:p></span>
                                </p>

                                <p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;line-height:15.3pt">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#333333">200ml : nước cốt dừa<o:p></o:p></span>
                                </p>

                                <p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;line-height:15.3pt">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#333333">40gr&nbsp;&nbsp; : me chín (ngâm với 50ml nước sôi sau đó lấy nước me bỏ hạt)<o:p></o:p></span>
                                </p>

                                <p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:3.75pt;margin-left:
0cm;line-height:15.3pt">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#333333">Dầu ăn, nước mắm, đường cát trắng<o:p></o:p></span>
                                </p>

                                <p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;line-height:15.3pt">
                                    <strong>
                                        <i>
                                            <u>
                                                <span style="font-size:10.0pt;font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;;color:#333333">Cách làm:</span>
                                            </u>
                                        </i>
                                    </strong><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#333333"><o:p></o:p></span>
                                </p>

                                <p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;text-align:justify;line-height:15.3pt">
                                    <span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#333333">1. Cá Tầm rửa sách nhớt với bột mì rửa lại bằng nước lạnh sau đó cắt khúc dày 2cm chiên sơ với dầu cho thịt cá săn chắc lại.<o:p></o:p></span>
                                </p>

                                <p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;text-align:justify;line-height:15.3pt">
                                    <span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#333333">2. Bắp còi rửa sạch để nguyên vỏ cắt làm tư dọc theo chiều dài sau đó cắt ngắn lại 3cm (nhớ ngâm vào nước có pha muối khoảng 10&rsquo; cho cà không bị đen).<o:p></o:p></span>
                                </p>

                                <p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;text-align:justify;line-height:15.3pt">
                                    <span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#333333">3. Làm nóng chảo cho tí dầu ăn vào, cho tỏi, hành tây và sả vào xào cho đến khi ngửi thấy mùi thơm cho bột cà ri vàng vào khuấy nhanh tay cho dầu ngấm đều vào bột cà ri sẽ tạo mùi thơm và màu vàng. Tiếp đến cho cà chua, ớt xào thêm 3&rsquo; cho bắp còi, cà tím vào. Sau đó là nước cốt dừa, nước me, nước mắm vào nấu cho đến khi nước sốt sôi lên (1).<o:p></o:p></span>
                                </p>

                                <p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;text-align:justify;line-height:15.3pt">
                                    <span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#333333">4. Xếp cá vào tộ kho cho (1) lên trên cá tiếp đến là ngò sau đó vặn nhỏ lửa để sốt ngấm từ từ vào cho khi cá chín là được. Phục vụ nóng với cơm .<o:p></o:p></span>
                                </p>
                            </div>
                        </div>
                    </div>



                </div>
            </section>
        </div>
