
@{
    ViewBag.Title = "CaTamChienGion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="index.html">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a href="cach-che-bien.html">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>Cá Tầm chiên giòn </strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>


        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a href="ca-tam-chien-gion.html"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/2015121110938847e93b.jpg?v=1470879594190" alt="Cá Tầm chiên giòn "></a>
                            </div>
                            <h1 class="article-title"><a href="ca-tam-chien-gion.html">Cá Tầm chiên giòn </a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:10.5pt;margin-left:0cm;line-height:15.0pt;">Món ăn ngon nhà hàng ngay tại nhà bữa cơm gia đình bạn ngày cuối tuần cực đơn giản.&nbsp;<strong>Tinh hoa ẩm thực Việt</strong>&nbsp; xin giới thiệu với các bà nội chợ một món ăn với cá tầm làm cực nhanh, nấu cực dễ, ăn cực ngon.&nbsp;<strong>Cá tầm chiên giòn</strong>&nbsp;cách làm như sau.</p>

                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:10.5pt;margin-left:0cm;line-height:15.0pt;"><strong>Nguyên liệu:</strong></p>

                                <ul>
                                    <li style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-bottom:.0001pt;">Cá tầm: 1/2 kg</li>
                                    <li style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-bottom:.0001pt;">trứng 1 quả</li>
                                    <li style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-bottom:.0001pt;">Sả 2 nhánh, gừng 1 củ, nghệ 1 củ, thì là</li>
                                    <li style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-bottom:.0001pt;">Nước mắn, tiêu, ớt, bột ngọt, đường, dầu điều, bột chiên giòn&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                </ul>

                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:10.5pt;margin-left:0cm;line-height:15.0pt;"><strong>Cách thức chế biển:</strong></p>

                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:10.5pt;margin-left:0cm;line-height:15.0pt;">-Ta có thể chế biến theo 2 cách sau:</p>

                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:10.5pt;margin-left:0cm;line-height:15.0pt;"><strong>Cách 1:</strong></p>

                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:10.5pt;margin-left:0cm;line-height:15.0pt;">- Làm sạch cá, thái miếng vưà ăn</p>

                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:10.5pt;margin-left:0cm;line-height:15.0pt;">- Sả, gừng, nghệ đập dập lấy nước, thì là băm nhuyễn</p>

                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:10.5pt;margin-left:0cm;line-height:15.0pt;">- Sau đó cho cá vào âu lớn, cho nước sả, gừng, nghệ, thì là đã băm, thêm gia vị nước mắm, tiêu, đường, ớt,bột ngọt, dầu điều chộn đều ướp trong 15 phút.</p>

                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:10.5pt;margin-left:0cm;line-height:15.0pt;">- Tiếp đó ta đánh đều trứng gà chộn đều với cá đã tẩm ướp</p>

                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:10.5pt;margin-left:0cm;line-height:15.0pt;">- Tiếp theo lấy từng miếng cá lăn đều cả 2 bề mặt miếng cá với bột chiên</p>

                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:10.5pt;margin-left:0cm;line-height:15.0pt;">- Cho chảo lên bếp đun dầu ăn, chú ý cho dầu ăn phải ngập miếng cá. cho cá vào chiên vặn nhỏ lửa tớ kkhi miếng cá vàng đều là được.</p>

                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:10.5pt;margin-left:
0cm;line-height:15.0pt">
                                    <strong>
                                        <span style="font-size:10.5pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#222222">Cách 2:</span>
                                    </strong><span style="font-size:10.5pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#222222"><o:p></o:p></span>
                                </p>

                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:10.5pt;margin-left:
0cm;line-height:15.0pt">
                                    <span style="font-size:10.5pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#222222">- Làm sạch cá, thái miếng vừa ăn Sả thái sợi, gừng, nghệ thái lát, thì là thái khúc<o:p></o:p></span>
                                </p>

                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:10.5pt;margin-left:
0cm;line-height:15.0pt">
                                    <span style="font-size:10.5pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#222222">- sau đó cho cá vào âu lớn chộn đều vói các gia vị ướp trong 15 phút, đánh trứng chộn đều vơi cá đã tẩm<o:p></o:p></span>
                                </p>

                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:10.5pt;margin-left:
0cm;line-height:15.0pt">
                                    <span style="font-size:10.5pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#222222">- lấy từng miếng cá lăn đều cho kín bề mặt<o:p></o:p></span>
                                </p>

                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:10.5pt;margin-left:
0cm;line-height:15.0pt">
                                    <span style="font-size:10.5pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#222222">- Bắc chảo lên bếp ga, đun nóng dầu cho các nguyên liệu như sả, gừng, nghệ vào chiên tới khi các nguyên liệu vàng đều vớt ra để riêng<o:p></o:p></span>
                                </p>

                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:10.5pt;margin-left:
0cm;line-height:15.0pt">
                                    <span style="font-size:10.5pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#222222">- Vẫn chảo dầu đó ta cho cá tầm đã tẩm vào chiên tới khi miếng cá vàng đều, vớt cá ra chộn với các nguyên liệu sả, gừng, nghệ, thì là đã chiên trước đó.<o:p></o:p></span>
                                </p>

                                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:10.5pt;margin-left:
0cm;line-height:15.0pt">
                                    <span style="font-size:10.5pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#222222">chúc các bà nội chợ thành công với thực đơn ngày cuối tuần, ấm áp và vui vẻ bên mâm cơm gia đình<o:p></o:p></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="social-media text-xs-left" style="border-top:1px #ebebeb solid; border-bottom:1px #ebebeb solid; padding:15px 0px;">
                            <div style="margin-right: 10px; display: inline-block; color:#333">Chia sẻ bài viết:</div>
                            <div class="jssocials" id="share"></div>
                        </div>
                    </div>



                </div>
            </section>
        </div>

