
@{
    ViewBag.Title = "CaTamXaoThom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="index.html">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a href="cach-che-bien.html">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>Cá Tầm xào thơm</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>

        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a onclick="goTo('SanPham/CaTamXaoThom')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/20151211100362644d20.jpg?v=1470879592327" alt="Cá Tầm xào thơm"></a>
                            </div>
                            <h1 class="article-title"><a onclick="goTo('SanPham/CaTamXaoThom')">Cá Tầm xào thơm</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p><strong>Nguyên liệu:</strong></p>

                                <p style="margin-left:72.0pt;text-indent:-18.0pt;">-Dầu hào MAGGI 3 muỗng</p>

                                <p style="margin-left:72.0pt;text-indent:-18.0pt;">-Cá tầm 500 gr</p>

                                <p style="margin-left:72.0pt;text-indent:-18.0pt;">-Thơm 1 quả</p>

                                <p style="margin-left:72.0pt;text-indent:-18.0pt;">-1 củ hành tây</p>

                                <p style="margin-left:72.0pt;text-indent:-18.0pt;">-1 củ cà rốt</p>

                                <p style="margin-left:72.0pt;text-indent:-18.0pt;">-2 quả cà chua</p>

                                <p style="margin-left:72.0pt;text-indent:-18.0pt;">-Hành băm, tỏi băm, hành ngò thái nhỏ, dầu ăn, hạt nêm MAGGI</p>

                                <p><strong>Cách chế biến:</strong></p>

                                <p>1. Cá Tầm rửa sạch nhớt, cắt miếng vừa ăn. Ướp cá tầm với hành băm, hạt nêm MAGGI , tiêu khoảng 20 phút. Cà chua, hành tây cắt múi , thơm cắt miếng vừa ăn, cà rốt tỉa hoa cắt tròn.</p>

                                <p>2. Cho dầu vào chảo, dầu nóng phi tỏi cho thơm, cho cá tầm vào xào chín, trút ra dĩa.</p>

                                <p>3. Cho thêm 1 muỗng dầu, cho cà rốt, cà chua, hành tây, thơm vào xào khoảng 5 phút, cho cá tầm, cho thêm 3 muỗng dầu hào MAGGI vào xào thêm khoảng 2 phút, cho hành ngò cắt nhỏ vào, tắt bếp.</p>

                                <p>&nbsp;</p>

                                <p style="margin-left:36.0pt;text-indent:-18.0pt;">&nbsp;</p>
                            </div>
                        </div>
                    </div>



                </div>
            </section>
        </div>
