
@{
    ViewBag.Title = "CaTamHapCaiXanh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="index.html">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a href="cach-che-bien.html">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>Cá Tầm hấp cải xanh</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>

        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a onclick="goTo('SanPham/CaTamHapCaiXanh')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/20151211946127731366.jpg?v=1470879591577" alt="Cá Tầm hấp cải xanh"></a>
                            </div>
                            <h1 class="article-title"><a onclick="goTo('SanPham/CaTamHapCaiXanh')">Cá Tầm hấp cải xanh</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;"><em><span style="border:none windowtext 1.0pt;padding:0cm;">theo Tiêu dùng</span></em>&nbsp;</p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">Thịt cá Tầm trắng mịn, có vân vàng và dai, vị béo ngậy và rất bổ dưỡng.</p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">Nguyên liệu:</p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">- 700 gr Cá Tầm</p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">- 100 gr hành tây</p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">&nbsp;- 100 gr tỏi tây</p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">- 50 gr ớt đỏ</p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">- 30 gr lá cải xanh</p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">- dầu ăn</p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">- xì dầu</p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">- dầu hào</p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">- tiêu</p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">- muối</p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;"><strong>Chế biến:</strong></p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">Bước 1: Dùng bột mỳ để rửa sạch nhớt của cá Tầm, sau đó rửa lại bằng nước lạnh. Khía chữ thập hai bên mình cá. Cho vào chảo dầu nóng chiên sơ cho vàng hai mặt.</p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">Bước 2: Tỏi tây rửa sạch, thái vát , để riêng phần củ trắng và phần lá xanh. Hành tây bỏ sau. Làm nóng chảo với chút dầu ăn, cho hành tây, hành tím vào xào cho đến khi ngửi thấy mùi thơm thì tắt bếp. Xếp cá vào giữa lá cải xanh. Cho phần hỗn hợp hành tây và hành tím vào xào lên trên cá.</p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">3. Cho thêm phần củ trắng và củ cải tây, gừng, ớt đỏ, một chút xì dầu, một chút dầu hào vào xung quanh miếng cá. Cuộn lá cải lại, cho lên nồi hấp. Cá chín thì cho ra đĩa, phủ phần lá xanh của tỏi tây lên trên. Dội phần nước sốt hấp cá lên trên. Ăn nóng với cơm.</p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">&nbsp;</p>

                                <p style="margin-bottom:0.0001pt;vertical-align:baseline;background:white;">&nbsp;</p>
                            </div>
                        </div>
                    </div>


                </div>
            </section>
        </div>
