
@{
    ViewBag.Title = "ChaCaLaVong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="index.html">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a href="cach-che-bien.html">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>Chả Cá Lã Vọng</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>


        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a onclick="goTo('SanPham/ChaCaLaVong')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/20151211101228188c193.jpg?v=1470879599080" alt="Chả Cá Lã Vọng"></a>
                            </div>
                            <h1 class="article-title"><a onclick="goTo('SanPham/ChaCaLaVong')">Chả Cá Lã Vọng</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p>
                                    <span style="background:white;">Để pha mắm tôm ngon, thơm hơn, bạn cho thêm 1 chút rượu trắng vào.</span><br />
                                    &nbsp;<br />
                                    <strong><span style="background:white;">Nguyên liệu:</span></strong>
                                </p>

                                <p>
                                    <br />
                                    <span style="background:white;">- 500g phi-lê cá tầm</span><br />
                                    <span style="background:white;">- 30g củ riềng</span><br />
                                    <span style="background:white;">- 3 cây sả</span>
                                </p>

                                <p><span style="background:white;">-&nbsp;</span><span style="color: rgb(51, 51, 51); font-family: Arial, sans-serif; background-color: white;">2 quả ớt sừng</span></p>

                                <p>
                                    <span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#333333">
                                        <span style="background:white">- 5 củ hành tím</span><br />
                                        <span style="background:white">- 3 tép tỏi</span><br />
                                        <span style="background:white">- 5g củ nghệ</span><br />
                                        <span style="background:white">- 30g mắm tôm</span><br />
                                        <span style="background:white">- 50g thì là</span><br />
                                        <span style="background:white">- 10g húng lủi</span><br />
                                        <span style="background:white">- 5g ớt xay</span><br />
                                        <span style="background:white">- 1 quả chanh</span><br />
                                        <span style="background:white">- 20g lạc rang</span><br />
                                        <span style="background:white">- Đường</span><br />
                                        <span style="background:white">- Dầu ăn.</span>
                                    </span>
                                </p>

                                <p>
                                    <br />
                                    <span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#333333"><strong><span style="background: white;">Thực hiện:</span></strong></span>
                                </p>

                                <p>
                                    <br />
                                    <span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#333333">
                                        <span style="background:white">- Cá tầm rửa sạch, để ráo, thái miếng vuông.</span><br />
                                        <span style="background:white">- Củ riềng, củ nghệ gọt vỏ, đập giập.</span><br />
                                        <span style="background:white">- Sả bào mỏng. Ớt bỏ hạt.</span><br />
                                        <span style="background:white">- Cho củ riềng, nghệ, hành, tỏi, sả, ớt vào máy xay nhỏ, rồi ướp vào cá tầm. Nêm thêm 10g mắm tôm, 1/4 thìa cà phê đường.</span><br />
                                        <span style="background:white">- Hành lá, thì là thái khúc</span><br />
                                        <span style="background:white">- Đun nóng 1 thìa súp dầu ăn, cho cá vào rán với lửa nhỏ. Khi cá chín, cho hành lá và thì là vào xóc đều, tắt bếp, rắc lạc rang vào.</span><br />
                                        <span style="background:white">- Bạn ăn chả cá cùng bún, húng lủi, mắm tôm đánh đều chanh, ớt xay.<o:p></o:p></span>
                                    </span>
                                </p>

                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="social-media text-xs-left" style="border-top:1px #ebebeb solid; border-bottom:1px #ebebeb solid; padding:15px 0px;">
                            <div style="margin-right: 10px; display: inline-block; color:#333">Chia sẻ bài viết:</div>
                            <div class="jssocials" id="share"></div>
                        </div>
                    </div>



                </div>
            </section>
        </div>

