
@{
    ViewBag.Title = "ChaoCaTam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a onclick="goTo('Home/Index')">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a onclick="goTo('SanPham/CachCheBien1')">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>Cháo Cá Tầm</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>

        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a onclick="goTo('SanPham/ChaoCaTam')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/201512111033421193649.jpg?v=1470879604477" alt="Cháo Cá Tầm"></a>
                            </div>
                            <h1 class="article-title"><a onclick="goTo('SanPham/ChaoCaTam')">Cháo Cá Tầm</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p><strong>Nguyên liệu:</strong></p>

                                <p>- 500 gr cá tầm</p>

                                <p>- 50 gr đậu xanh không vỏ</p>

                                <p>- Gạo</p>

                                <p>- 1 củ cà rốt</p>

                                <p>- 300 gr nấm rơm</p>

                                <p>- Hành lá</p>

                                <p><strong>Chế biến:</strong></p>

                                <p>- Gạo + đậu xanh rửa qua đem nấu nhừ , cà rốt thái lát theo chiều dọc, nấm rơm khô ngâm nước 10 phút rồi cắt đôi xé sợi nhỏ , nấm rơm tươi thì không cần ngâm nước.</p>

                                <p>- Đun nóng chảo rồi cho 1 thìa súp dầu ăn, cho hỗn hợp cà rốt, nấm rơm vào đảo qua khoảng 30 giây rồi cho cá vào (cá lật qua lật lại thôi) . Sau đó, cho thêm 1 thìa súp nước mắm + 1 thìa súp mì chính ( hoặc hạt nêm) + 1/4 thìa súp đường.</p>

                                <p>- Cháo đã nhừ bỏ hỗn hợp trên vào nêm gia vị rồi hầm thêm 10 phút sau đó có thể ăn rồi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="social-media text-xs-left" style="border-top:1px #ebebeb solid; border-bottom:1px #ebebeb solid; padding:15px 0px;">
                            <div style="margin-right: 10px; display: inline-block; color:#333">Chia sẻ bài viết:</div>
                            <div class="jssocials" id="share"></div>
                        </div>
                    </div>



                </div>
            </section>
        </div>

