
@{
    ViewBag.Title = "GoiCaTam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a onclick="goTo('Home/Index')">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a onclick="goTo('SanPham/CachCheBien1')">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>Gỏi Cá Tầm</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>


        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a onclick="goTo('SanPham/GoiCaTam')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/2015121111191826afa3.jpg?v=1470879607783" alt="Gỏi Cá Tầm"></a>
                            </div>
                            <h1 class="article-title"><a onclick="goTo('SanPham/GoiCaTam')">Gỏi Cá Tầm</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p><span style="color: rgb(37, 37, 37); font-family: Arial, sans-serif; font-weight: bold; line-height: 15.4px; background-color: rgb(255, 255, 255);">Thịt cá tầm ngọt thanh kết hợp với các loại gia vị và rau thơm rất phù hợp cho việc giữ dáng của các chị em.</span></p>

                                <p><strong>Nguyên liệu:</strong></p>

                                <ul style="box-sizing: border-box; margin: 0px; list-style: none; padding: 0px; color: rgb(37, 37, 37); font-family: Arial, sans-serif; line-height: 20px; background-color: rgb(255, 255, 255);">
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">300g cá tầm</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">50g củ kiệu</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">2 trái ớt xanh, ớt đỏ</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">3 củ hành tím</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">1 củ gừng</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">1 củ hành tây</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">50g tỏi phi</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">30g đậu phộng rang giã dập</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Nước mắm, giấm, đường</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Rau thơm, rau răm, húng lủi</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;"><strong>Chế biến:</strong></li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Cá tầm lạng miếng vừa ăn.</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Cho vào nồi nước sôi, luộc chín.</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Hành tím lột vỏ, cắt khoanh.</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Ớt xanh, ớt đỏ rửa sạch, cắt lát.</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Gừng gọt vỏ, cắt lát mỏng.</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Chanh vắt lấy nước cốt.</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Rau thơm, rau răm, húng lủi rửa sạch, cắt nhuyễn.</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Hành tây lột vỏ, cắt lát mỏng.</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Cho cá tầm vào thố, cho hành tím, ớt xanh, ớt đỏ, hành tây, củ kiệu vào.</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Nêm 1 muỗng súp&nbsp;đường, 1 muỗng súp&nbsp;nước mắm, 1 muỗng súp&nbsp;giấm, &frac12; phần tỏi phi vào trộn đều.</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Cho rau thơm, rau răm, húng lủi vào, trộn đều lần nữa. Rắc đậu phộng, tỏi phi lên và bày gỏi ra dĩa.</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">
                                        <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(51, 51, 51); font-family: Arial, sans-serif; line-height: 20px; background-color: rgb(255, 255, 255);"><b style="box-sizing: border-box;">Bí quyết</b></p>
                                    </li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Ngoài việc lựa chọn&nbsp;được thực phẩm tươi ngon nhất dành cho món gỏi của mình thì bí quyết nêm nếm cũng chiếm vai trò rất quan trọng.</li>
                                    <li style="box-sizing: border-box; list-style: disc; margin: 0px 0px 10px 20px;">Nếu không đủ tự tin vào việc nêm nếm món gỏi này sao cho vừa miệng, bạn có thể chọn cách: ướp gia vị vào cá tằm trước, sau đó đem chiên sơ và nấu sôi dấm đường rồi mới trộn gỏi.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="social-media text-xs-left" style="border-top:1px #ebebeb solid; border-bottom:1px #ebebeb solid; padding:15px 0px;">
                            <div style="margin-right: 10px; display: inline-block; color:#333">Chia sẻ bài viết:</div>
                            <div class="jssocials" id="share"></div>
                        </div>
                    </div>



                </div>
            </section>
        </div>


