
@{
    ViewBag.Title = "LauCaTam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a onclick="goTo('Home/Index')">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a onclick="goTo('SanPham/CachCheBien1')">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>Lầu Cá Tầm</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>


        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a onclick="goTo('SanPham/LauCaTam')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/20151211145299092138.jpg?v=1470879613050" alt="Lầu Cá Tầm"></a>
                            </div>
                            <h1 class="article-title"><a onclick="goTo('SanPham/LauCaTam')">Lầu Cá Tầm</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p><strong style="color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 13.6px; line-height: 20.4px;">Thành phần:</strong></p>

                                <div class="”grid-layout” grid-layout2 clearafter" style="color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 13.6px; line-height: 20.4px;">
                                    <div class="grid-col" style="float: left; width: 352.922px;">
                                        <div class="grid-col_inner">
                                            <p style="margin: 5px 0px 10px; padding: 0px;">- 700 gram Cá Tầm</p>

                                            <p style="margin: 10px 0px; padding: 0px;">- 200 gram Hành lá</p>

                                            <p style="margin: 10px 0px; padding: 0px;">- 50 gram ớt trái đỏ</p>

                                            <p style="margin: 10px 0px; padding: 0px;">- 100 gram gừng</p>

                                            <p style="margin: 10px 0px; padding: 0px;">- 100 gram bột mì</p>

                                            <p style="margin: 10px 0px 5px; padding: 0px;">- 1 củ hành tây</p>
                                        </div>
                                    </div>

                                    <div class="grid-col grid-lastcol" style="float: left; width: 352.922px;">
                                        <div class="grid-col_inner">
                                            <p style="margin: 5px 0px 10px; padding: 0px;">- 50 gram hành củ (hành tím)</p>

                                            <p style="margin: 10px 0px; padding: 0px;">- 100 gram cà chua</p>

                                            <p style="margin: 10px 0px; padding: 0px;">- 100 gram giá đỗ</p>

                                            <p style="margin: 10px 0px; padding: 0px;">- 100 gram tàu hủ non</p>

                                            <p style="margin: 10px 0px; padding: 0px;">- 100 gram bắp còi</p>

                                            <p style="margin: 10px 0px 5px; padding: 0px;">- 300 gram bún tươi hoặc mì</p>
                                        </div>
                                    </div>
                                </div>

                                <p style="margin: 10px 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 13.6px; line-height: 20.4px; text-align: justify;">-</p>

                                <p style="margin: 10px 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 13.6px; line-height: 20.4px; text-align: justify;">&nbsp;</p>

                                <p style="margin: 10px 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 13.6px; line-height: 20.4px; text-align: justify;">&nbsp;</p>

                                <p style="margin: 10px 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 13.6px; line-height: 20.4px; text-align: justify;">&nbsp;</p>

                                <p style="margin: 10px 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 13.6px; line-height: 20.4px; text-align: justify;">&nbsp;</p>

                                <p style="margin: 10px 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 13.6px; line-height: 20.4px; text-align: justify;">&nbsp;</p>

                                <p style="margin: 10px 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 13.6px; line-height: 20.4px; text-align: justify;">- Rau ăn kèm các loại tùy theo sở thích của mỗi người</p>

                                <p style="margin: 10px 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 13.6px; line-height: 20.4px; text-align: justify;"><strong style="font-size: 13.6px; line-height: 20.4px;">Cách làm:</strong></p>

                                <p style="margin: 10px 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 13.6px; line-height: 20.4px; text-align: justify;">1. Cho cá vào khay chữ nhật thoa phần bột mì lên mình cá rồi vuốt dọc từ đầu đến đuôi cá cho sạch nhớt, rửa cá lại bằng nước lạnh thật sạch rồi cắt bỏ phần vi, mang và ruột cá. Tiếp đến cắt rời cá ra từng khoanh nhỏ dày 2cm cho vào đĩa để phục vụ tại bàn, còn phần đầu và đuôi cá để lại nấu nước lẩu.</p>

                                <p style="margin: 10px 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 13.6px; line-height: 20.4px; text-align: justify;">
                                    <br />
                                    2. Cho 1 lit nước vào xoong bắc lên bếp đun sôi làm nước lẩu. Gừng gọt vỏ rửa sạch cắt đôi, hành tây lột vỏ rửa sạch cắt đôi, củ hành tím rửa sạch cho tất cả vào lò nướng đến khi ngửi được mùi thơm lấy ra cho vào xoong nước đang sôi rồi cho nhẹ lửa sôi lăn tăn để lấy mùi thơm. - Dùng một cái chảo khác cho ít dầu ăn và phi hành tỏi cho dậy mùi thơm rồi cho đầu và đuôi cá chiên sơ tiếp đến là cho nước mắm, tiêu gia vị vừa ngấm vào cá là tắt bếp, cho vào xong nước lẩu nấu thêm 15&#39; để lấy vị ngọt của cá. Nêm gia vị vừa ăn (Lưu ý: trong quá trình nấu nước lẩu phải nhẹ lửa và hớt bọt để giữ nước lẩu trong).
                                </p>

                                <p style="margin: 10px 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 13.6px; line-height: 20.4px; text-align: justify;">
                                    <br />
                                    3. Ớt trái bỏ hạt cắt nhỏ giã nhuyễn, Hành lá rửa sạch, cắt phần củ màu trắng cho vào xoong nước lẩu còn phần xanh cắt khúc nhỏ cho vào cối giã nhuyễn cho vào nước lẩu sau khi đã nêm gia vị (Lưu ý: hành và ớt phải giã bằng cối chứ không được say vì khi giã hành lá sẽ tiết ra mùi thơm và màu xanh, ớt tiết ra màu đỏ tạo nên vị và màu sắc rất đặc trưng cho món lẩu).
                                </p>

                                <p style="margin: 10px 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 13.6px; line-height: 20.4px; text-align: justify;">
                                    <br />
                                    4. Cho nước lẩu ra dụng cụ nấu lẩu, bún tươi hoặc mì cho ra đĩa và các thành phần còn lại cho ra đĩa (theo sự sáng tạo trình bày của mỗi người) phục vụ nấu tại bàn.
                                </p>

                                <p style="margin: 10px 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 13.6px; line-height: 20.4px;">
                                    <span style="font-family: Verdana;">
                                        <span style="font-size: 12px;">
                                            <span style="font-size: small;">&nbsp;</span><br />
                                            <span style="font-size: small;">&nbsp;</span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
