
@{
    ViewBag.Title = "LauChaoCaTam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a onclick="goTo('Home/Index')">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a onclick="goTo('SanPham/CachCheBien1')">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>MÓN ĂN NGÀY TẾT LẨU CHÁO CÁ TẦM CỦA NHÀ HÀNG THÁC BẠC SAPA</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>



        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a onclick="goTo('SanPham/ChaoCaTam')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/20161261634571437fe9.jpg?v=1470879627287" alt="MÓN ĂN NGÀY TẾT LẨU CHÁO CÁ TẦM CỦA NHÀ HÀNG THÁC BẠC SAPA"></a>
                            </div>
                            <h1 class="article-title"><a onclick="goTo('SanPham/ChaoCaTam')">MÓN ĂN NGÀY TẾT LẨU CHÁO CÁ TẦM CỦA NHÀ HÀNG THÁC BẠC SAPA</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:12.05pt;background:white">
                                    <span style="font-size:9.0pt;
font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#666666">
                                        Cá Tầm thuộc loại cá cổ nhất trên thế giới với lịch sử tồn tại trên 200 triệu năm nổi tiếng với món C<span class="textexposedshow">aviar đứng đầu thực phẩm thượng hạng. Cá Tầm cho thịt săn chắc, thơm bùi và đặc biệt tốt cho hệ thần kinh, bổ dưỡng cho trẻ em cũng như người cao tuổi, chống lão hóa. Từ xa xưa cá Tầm được vua chúa coi là một loại thực phẩm chức năng.</span><br />
                                        <span class="textexposedshow">Cá Tầm được nấu theo kiểu lẩu cháo là một món ăn tinh túy, độc đáo và mới lạ kết hợp bởi hai sản phẩm Đông &ndash; Tây: Gạo Việt Nam và cá Tầm châu Âu được nhà hàng Thác Bạc Sapa bổ sung vào thực đơn Tết cổ truyền Việt Nam. Lẩu cháo cá Tầm trở thành một Mâm cơm Việt ấm áp cho gia đình quây quần vào dịp Tết, dễ ăn cho người già và trẻ em, một loại thuốc giải rượu hiệu quả. Các bà nội trợ dễ dàng chế biến món lẩu cháo cá Tầm trong một thời gian ngắn nhưng vẫn thể hiện tình yêu với gia đình một cách trách nhiệm nhất.</span><br />
                                        <span class="textexposedshow">Lẩu cháo cá Tầm có thể được chế biến sẵn và cấp đông. Sau 20 phút chúng ta có một món ăn sang trọng trên bàn đãi khách</span><span class="apple-converted-space">&nbsp;</span><br />
                                        <span class="textexposedshow">1.Nguyên liệu (cho 6 người ăn):</span><br />
                                        <span class="textexposedshow">+ Cá Tầm 1con: 2- 2.5 kg</span><br />
                                        <span class="textexposedshow">+ Cháo</span><span class="apple-converted-space">&nbsp;</span><br />
                                        <span class="textexposedshow">+ Dầu ớt: 5 thìa cà phê</span><br />
                                        <span class="textexposedshow">+ Nước cốt gà : 05 thìa cà phê</span><br />
                                        <span class="textexposedshow">+ Hạt nêm, mỳ chính</span><br />
                                        <span class="textexposedshow">+ Rau cải chíp hay cải cúc: 1 kg</span><br />
                                        <span class="textexposedshow">+ Rau cải thảo : 1 kg</span><br />
                                        <span class="textexposedshow">+ Hạt tiêu, ớt cay</span><o:p></o:p>
                                    </span>
                                </p>

                                <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:12.05pt;background:white">
                                    <span style="font-size:9.0pt;
font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#666666">
                                        2. Chế biến:<br />
                                        Nhà hàng Thác Bạc có thể làm thịt và sơ chế giúp khách hàng. Khách hàng cũng có thể mua cá Tầm sống về nhà tự làm thịt như sau:<br />
                                        Đập vào đầu cho cá chết và nhúng qua cá Tầm vào nước đun sôi. Đánh sạch vẩy ở hai bên sống lưng, rửa sạch nhớt và dùng giấy lau khô. Sau đó mổ bụng moi ruột bóc mang, phi lê, tách riêng đầu, đuôi và phần xương sống lưng. Thịt phi lê được thái mỏng 1cm, đầu đuôi và xương sống được chặt nhỏ. Cá Tầm là loại cá sụn và có thể ăn được tất cả.<br />
                                        Rau nhặt xong rửa sạch cải thảo cắt nhỏ 3 - 4 cm, cải chíp bổ làm đôi<br />
                                        Cháo trắng, gáo gạo nứt hoặc cháo đậu xanh được nấu sẵn. Cháo được nấu loãng hơn bình thường. Cần có thêm một ít cháo dự phòng để bổ sung.<o:p></o:p>
                                    </span>
                                </p>

                                <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:12.05pt;background:white">
                                    <span style="font-size:9.0pt;
font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#666666">
                                        3 Cách ăn:<br />
                                        Nồi cháo có thể được đun trên bếp từ, bếp ga du lịch, bếp cồn hay xăng khô. Khi cháo sôi đều thì cho thịt cá Tầm vào. Thịt cá Tầm có thể cho vào làm nhiều lần, khi cá chín tới thì nhúng rau để ăn cùng. Để tránh khê chúng ta có thể bỏ một chiếc thìa inox vào nồi cháo.<br />
                                        Hạt tiêu, ớt cay được để ngoài dùng riêng theo khẩu vị từng người.<br />
                                        Chúc cả nhà ngon miệng!<o:p></o:p>
                                    </span>
                                </p>

                                <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:12.05pt;background:white">
                                    <span style="font-size:9.0pt;
font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#666666">Nhà hàng Thác Bạc Sapa cung cấp cá Tầm từ Trại Tam Đảo và Hòa Bình theo &ldquo; Mô hình cá sạch từ trại nuôi đến bàn ăn&rdquo; nhằm góp phần loại trừ thực phẩm độc hại khỏi &ldquo;Mâm cơm gia đình Việt&rdquo;.<o:p></o:p></span>
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </section>
        </div>



