
@{
    ViewBag.Title = "LauCaTamChuaCay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a onclick="goTo('Home/Index')">Trang chủ</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>

                    <li>
                        <a onclick="goTo('SanPham/CachCheBien1')">Cách Chế Biến</a>
                        <span><!-- <i class="fa fa-angle-right"></i> --> / </span>
                    </li>
                    <li><strong>Lầu Cá Tầm chua cay</strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>



        <div class="col-xs-12 col-lg-9 col-lg-push-3">

            <section class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
                            <div class="article-image">
                                <a onclick="goTo('SanPham/LauCaTamChuaCay')"><img class="img-fluid" src="../bizweb.dktcdn.net/thumb/1024x1024/100/114/853/articles/201512178578485591d.jpg?v=1470879622300" alt="Lầu Cá Tầm chua cay"></a>
                            </div>
                            <h1 class="article-title"><a onclick="goTo('SanPham/LauCaTamChuaCay')">Lầu Cá Tầm chua cay</a></h1>
                            <div class="postby">
                                <div style="float:left; margin-right:20px;"><i class="fa fa-user" aria-hidden="true"></i>  </div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> 11, tháng 8, 2016</div>
                            </div>
                            <div class="article-content">
                                <p>
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">Lẫu cá Tầm chua cay là món ăn rất ngon và bổ dưỡng.Thịt cá Tầm săn chắc,tươi ngon,giàu chất dinh dưỡng,đặc biệt xương cá Tầm khi ăn giòn như sụn,rất ngon.Cách chế biến nhanh,không sử dụng màu hay gói gia vị bán sẵn.Bạn sẽ đem đến cho những người thân yêu một món ăn thơm ngon &quot;hoàn toàn từ các gia vị rau củ thiên nhiên&quot;,ngon đến từng giọt nước lẫu.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">Lưu ý nhỏ: Cà Paste bạn nên lựa chọn thương hiệu nổi tiếng sẽ làm món ăn ngon,màu cà đẹp tự nhiên.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">Chúc các bạn thành công khi chế biến món Lẫu cá Tầm!</span>
                                </p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">Nguyên liệu:</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 24.96px; background-color: rgb(255, 255, 255);">- &nbsp;1&nbsp;</span><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 23.04px; background-color: rgb(255, 255, 255);">Đầu,Đuôi,Xương sống Cá Tầm</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 23.04px; background-color: rgb(255, 255, 255);">- &nbsp;250 g Phi lê cá tầm, nấm các loại: nấm bào ngư, nấm linh chi, nấm đông cô, nấm kim châm...</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 23.04px; background-color: rgb(255, 255, 255);">- 100 g cải Hong Kong</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 23.04px; background-color: rgb(255, 255, 255);">- 100 g bông bí</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 23.04px; background-color: rgb(255, 255, 255);">- 100 g bắp chuối bào</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 23.04px; background-color: rgb(255, 255, 255);">- 500 g bún tươi</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 23.04px; background-color: rgb(255, 255, 255);">- 1 ít lá chanh, rễ&nbsp;ngò, sả cây, riềng, tỏi bằm ...</span></p>

                                <p><font color="#484432" face="Roboto, sans-serif"><span style="font-size: 19.2px; line-height: 23.04px; background-color: rgb(255, 255, 255);">- 100 g me, hai trái chanh, 1/4 củ hành cắt khoanh tròn</span></font></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 23.04px; background-color: rgb(255, 255, 255);">- Gia vị: Đầu muỗng cafe muối.2,5 M Đường.1M Hạt nêm.2,5 M Nước mắm ngon.4M Tương ớt.100g Cà Paste</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 23.04px; background-color: rgb(255, 255, 255);">- 100 g bột mì&nbsp;</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 23.04px; background-color: rgb(255, 255, 255);">Cách làm:</span></p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 23.04px; background-color: rgb(255, 255, 255);">Bước 1:&nbsp;</span></p>

                                <p>
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 23.04px; background-color: rgb(255, 255, 255);">-&nbsp;</span><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">Làm sạch nhớt &amp; khử mùi tanh cá Tầm bằng cách : Dùng 100g Bột mì rắc phủ khắp cá Tầm.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Đeo găng tay&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Dùng khăn có cước vuốt theo chiều từ đầu xuống đuôi cá thật mạnh&nbsp;</span><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">1 chiều&nbsp;</span><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">nhiều lần,&nbsp;</span><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">dưới dòng nước,cho thật sạch nhớt.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Rữa sạch nhớt và máu bên trong đầu cá..-&gt;để ráo.(Lưu ý:cá sạch nhớt và máu thì mới không còn mùi tanh,hoặc hôi rong.)</span>
                                </p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">Bước 2:&nbsp;</span></p>

                                <p>
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">-&nbsp;Đầu,Đuôi &amp; xương sống cá Tầm,làm sạch,để ráo.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Dùng dao Cắt bỏ phần vây cứng.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Lưu ý:Thịt cá Tầm nhanh chín,khi chín phần vây cứng sẽ rất dể bong ra,nhưng sẽ cứng như phần xương cá,nên phải lạng bỏ vây cứng trên &quot;đuôi cá&quot;.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Nấu nước sôi: Trần nhanh đầu,xương sống,đuôi cá qua nước sôi-&gt;rữa lại bằng nước lạnh-&gt;để ráo.(Nếu bạn không &quot;lạng sống&quot;được phần vây đuôi cá,thì ở bước trần nhanh qua nước sôi &quot;phần đuôi cá &quot;bạn dùng dao sẽ dể lạng bỏ vây cứng trên đuôi cá hơn.)&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Nấm rữa sạch cắt chân.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Rau rữa sạch,bỏ gốc,cắt khúc vừa ăn.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Bông bí bỏ nhuỵ,rữa sạch,để ráo.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Sã cắt khúc,đập dập.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Riềng cắt khoanh,đập dập.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Lá chanh bỏ sống lá&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Tỏi bằm&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Me ngâm nước sôi 5&#39;,vắt lấy nước cốt me,lọc lấy nước cốt me qua rây.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Chanh: vắt qua rây,lấy nước cốt chanh.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Rễ Ngò rữa thật sạch(trắng tinh).&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Cân gia vị sẵn.</span>
                                </p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">Bước 3:&nbsp;</span></p>

                                <p>
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Lọc da lấy thịt phi lê cá Tầm.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Nghiêng dao cắt lát lấy 250g thịt phi lê cá Tầm dùng nhúng Lẩu.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Phần còn dư,gói giấy nến,bảo quản ngăn đá.</span>
                                </p>

                                <p><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">Bước 4:</span></p>

                                <p>
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">-&nbsp;Chuẩn bị sẵn 1,2 Lít nước sôi.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Bắt nồi lên bếp,bật lữa cho nồi nóng lên,cho vào:&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- 1,5 M dầu ăn vào,dầu nóng ,&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- 1M Tỏi bằm vào đảo nhanh tay cho thơm,giãm lữa vừa,cho tiếp&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- 2 cây sã đập dập cắt khúc&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- 6 lát riềng đập dập,đảo nhanh tay cho vừa lên hương thơm,không cho cháy,cho Đầu,đuôi,xương vô nồi đảo cho thơm cá.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Cho 1/3 lượng nước sôi vào nồi&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Cho tất cả gia vị: hạt nêm,cà paste,tương ớt,muối,đường,nước mắm,5-&gt;6M nước cốt me-&gt; khuấy tan gia vị,cho hết nước sôi còn lại vô nồi khuấy tan,tắt bếp .&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Cho tiếp 4M nước cốt chanh ,&nbsp;</span><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">5-&gt;6 lá chanh,&nbsp;</span><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">ít hành tây cắt khoanh vào nồi.&nbsp;</span><span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">Phần nước lẫu đã nấu xong.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Dọn rau &amp; các loại Nấm ra dĩa chữ nhật.Chuẩn bị 1 chén nước mắm ngon &amp; 1chen ớt cắt lát ăn kèm.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Bông bí xếp như hình bó hoa.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Bún cuốn lọn tròn vừa ăn.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Phi lê cá Tầm xếp dọc ra dĩa.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">- Khi ăn,bắt nồi lẫu lên bếp cho sôi, lần lượt nhúng cá và các loại nấm,rau vào dùng kèm bún ăn rất ngon.&nbsp;</span><br style="box-sizing: border-box; color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);" />
                                    <span style="color: rgb(72, 68, 50); font-family: Roboto, sans-serif; font-size: 19.2px; line-height: 26.88px; background-color: rgb(255, 255, 255);">Chúc các bạn ngon miệng!&nbsp;</span>
                                </p>

                                <p>&nbsp;</p>

                                <p>&nbsp;</p>

                                <p>&nbsp;</p>

                                <p>&nbsp;</p>

                                <p>&nbsp;</p>

                                <p>&nbsp;</p>

                                <p>&nbsp;</p>

                                <p>&nbsp;</p>

                                <p>&nbsp;</p>

                                <ol class="list-unstyled ingredient-list__contents" style="box-sizing: border-box; margin: 0px; padding-left: 0px; list-style: none; color: rgb(72, 68, 50); font-size: 1.2em; font-family: Roboto, sans-serif; background-color: rgb(255, 255, 255);">
                                    <li class="ingredient" data-record="/vn/cong-thuc/299294-l%E1%BA%A9u-ca-t%E1%BA%A7m-chua-cay/ingredients" id="ingredient_2715060" style="box-sizing: border-box; padding: 5px 0px; line-height: 1.2; position: relative;">
                                        <div class="ingredient__details field-group--ingredient" data-field-group="" style="box-sizing: border-box; padding-right: 40px;">&nbsp;</div>
                                    </li>
                                </ol>

                                <p>&nbsp;</p>

                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="social-media text-xs-left" style="border-top:1px #ebebeb solid; border-bottom:1px #ebebeb solid; padding:15px 0px;">
                            <div style="margin-right: 10px; display: inline-block; color:#333">Chia sẻ bài viết:</div>
                            <div class="jssocials" id="share"></div>
                        </div>
                    </div>



                </div>
            </section>
        </div>

